<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>通用配置信息</comment>

    <!--系统登录模式，local：本地登录-->
    <entry key="Profile.Security.Login_Mode">local</entry>

    <!--Jso处理资源的模式，true：调试模式，false：生产模式-->
    <entry key="Profile.Jso.Debug_Mode">true</entry>

    <!--DhtmlxGrid导出Excel文件的临时目录-->
    <entry key="Profile.DhtmlxGrid.Export_Excel_Path">c:\</entry>

    <!--SSO单点登录的地址-->
    <entry key="Profile.SSO.Server_Url">http://localhost:8080/sso/openid</entry>

    <!--默认主题样式-->
    <entry key="Profile.theme">mobile</entry>

    <!--静态资源站点-->
    <entry key="staticWeb">http://localhost:8080/static</entry>
    <!-- 安全管理服务 -->
    <entry key="adminWeb">http://10.0.73.8:16905</entry>

    <!-- 客户服务路径 -->
    <entry key="service.customer.path">http://localhost:8080/customer/api</entry>
    <!-- 房屋服务路径 -->
    <entry key="service.house.path">http://localhost:8080/house/api</entry>
    <!-- 任务服务路径 -->
    <entry key="service.task.path">http://localhost:8080/task/api</entry>
    <!-- 话务服务路径 -->
    <entry key="service.tel.path">http://localhost:8080/tel/api</entry>
    <!-- 调查问卷服务路径 -->
    <entry key="service.questionnaire.path">http://localhost:8080/questionnaire/api</entry>
    <!-- 报表服务路径 -->
    <entry key="service.report.path">http://localhost:8080/report/api</entry>

    <!-- RestTemplate相关配置 -->
    <entry key="RestTemplate.readTimeout">60000</entry>

    <entry key="RestTemplate.connectTimeout">10000</entry>

    <!--是否模拟软电话-->
    <entry key="Profile.ImitatePhone">true</entry>

    <!-- 文件上传路径 -->
    <entry key="uploadPath">E:/temp</entry>
    <!-- 阿里云OSS相关信息 -->
    <!-- OSS ID：-->
    <entry key="oss.id">p7Cs5zrHIoTWsvYW</entry>
    <!-- OSS SECRET -->
    <entry key="oss.secret">9qjRWRQhxoIWpBVz5C0iwzLjVa5rYX</entry>
    <!-- bucket：-->
    <entry key="oss.bucket">wycrm</entry>
    <!-- endpoint要根据实际配置，目前配置为"外网深圳"地址 -->
    <entry key="oss.endpoint">http://oss-cn-shenzhen.aliyuncs.com</entry>
    <!--根目录名-->
    <entry key="oss.uploadRootName">uploadfile</entry>


    <!--静态资源站点-->
    <entry key="reportStaticWeb">http://localhost:8080/rp/static</entry>
</properties>