<div class="scrollable">
    <div class="scrollable-content">
        <div ng-if="des.desType == 1">
            <img class="img-responsive" src="/rm-mobile/app/images/task_val_1.png" alt=""/>
            <img class="img-responsive" src="/rm-mobile/app/images/task_val_2.png" alt=""/>
            <img class="img-responsive" src="/rm-mobile/app/images/task_val_3.png" alt=""/>
        </div>
        <div ng-if="des.desType == 2">
            <img class="img-responsive" src="/rm-mobile/app/images/attendance_rule_1.png" alt=""/>
            <img class="img-responsive" src="/rm-mobile/app/images/attendance_rule_2.png" alt=""/>
            <img class="img-responsive" src="/rm-mobile/app/images/attendance_rule_3.png" alt=""/>
            <img class="img-responsive" src="/rm-mobile/app/images/attendance_rule_4.png" alt=""/>
        </div>
    </div>
</div>
