@charset "UTF-8";
$fontSize: 12px;
$lineHeight: 20px;
$fontColor: #46535a;
$fontColorLight: #6f7070;
//blue
$coBlue: #488fd1;
$coBorderBlue: #95CCFF;
$coDeepBlue: #4180bc;
$coLightBlue: #c9e5ff;
$coBlueGray: #83acd3;
// 
$coSlateGray: #516276;
//gray
$coLightGray: #bdbdbd;
$coGray: #ebedf3;
$coDeepGray: #d6dde7;
// cyan
$coCyan: #4bb8fe;
// green
$coGreen: #24cb60;
$coDeepGreen: #098A37;
// red
$coRed: #e23c3c;
// pink red
$coPinkRed: #ff867d;