<div class="task_layout" ms-controller="tasklisthistory">

	<!-- search area -->
	<div class="form_layout">
		<form>
			<fieldset>
				<table id="task" class="table task-table">
					<tr>
						<th>
							<label for="startTime">开始时间:</label>
						</th>
						<td>
							<input type="text" class="Wdate input2" id="start_time_his"
								   onclick="var endTime=$dp.$('end_time_his');WdatePicker({onpicked:function(){endTime.click();},maxDate:'#F{$dp.$D(\'end_time_his\')}',dateFmt:'yyyy年MM月dd日 HH:mm:ss',vel:'hid_start_time_his'})"/>
							<input type="hidden" id="hid_start_time_his" ms-duplex="form.start_time_his" />
						</td>
						<th>
							<label for="endTime">结束时间:</label>
						</th>
						<td>
							<input type="text" class="Wdate input2" id="end_time_his"
								   onclick="WdatePicker({minDate:'#F{$dp.$D(\'start_time_his\')}',dateFmt:'yyyy-MM-dd HH:mm:ss',vel:'hid_end_time_his'})"/>
							<input type="hidden" id="hid_end_time_his" ms-duplex="form.end_time_his" />
						</td>
						<th>
							<label for="title">任务标题:</label>
						</th>
						<td>
							<input type="text" id="title" ms-duplex="form.title" placeholder="请输入任务标题">
						</td>
					</tr>
					<tr>
						<th>
							<label for="taskNo">任务编号:</label>
						</th>
						<td>
							<input type="text" id="taskNo" placeholder="请输入任务编号" ms-duplex="form.taskNo">
						</td>
						<th>
							<label for="taskLevelType">任务级别:</label>
						</th>
						<td>
							<select class="select2" id="taskLevelType" ms-duplex="form.levelType">
								<option value="">==请选择==</option>
                                <option ms-repeat="task.data" ms-attr-value="el.code">{{el.value}}</option>
							</select>
						</td>
						<th>
							<label for="taskSource">任务来源:</label>
						</th>
						<td>
							<select class="select2" id="taskSource" ms-duplex="form.taskSource">
								<option value="">==请选择==</option>
                                <option ms-repeat="taskSource.data" ms-attr-value="el.code">{{el.value}}</option>
							</select>
						</td>
					</tr>
					<tr class="none">
						<th>
							<label for="a_businessType">任务父类型:</label>
						</th>
						<td>
							<select class="select2" id="a_businessType" ms-duplex="form.a_businessType">
								<option value="">==请选择==</option>
								<option ms-repeat="a_businessType.list" ms-attr-value="el.businessCode">{{el.businessName}}</option>
							</select>
						</td>
						<th>
							<label for="b_businessType">任务子类型:</label>
						</th>
						<td>
							<select class="select2" id="b_businessType" ms-duplex="form.b_businessType">
								<option value="">==请选择==</option>
								<option ms-repeat="b_businessType.list" ms-attr-value="el.businessCode">{{el.businessName}}</option>
							</select>
						</td>
						<th>
							<label for="_businessType">任务类型:</label>
						</th>
						<td>
							<select class="select2" id="_businessType" ms-duplex="form._businessType">
								<option value="">==请选择==</option>
								<option ms-repeat="_businessType.list" ms-attr-value="el.businessCode">{{el.businessName}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="projectName">项目名称:</label>
						</th>
						<td>
							<input type="hidden" ms-duplex="form.projectCode" />
							<input type="text" id="projectName" ms-attr-value="form.projectName" class="input2" ms-keyup="autoinput('project')" ms-blur="autoblur('project')">
							<div class="autocomplete-min" target="project">
								<div class="autocomplete-min-box" ms-visible="project_auto.visible">
									<div class="autocomplete-min-tip" ms-visible="project_auto.loading">查询中...</div>
									<div class="autocomplete-min-tip" ms-visible="!project_auto.loading && project_auto.list.size()==0">查询无数据</div>
									<ul ms-visible="!project_auto.loading">
										<li ms-repeat="project_auto.list" ms-data-id="el.id" ms-data-code="el.code" ms-data-text="el.name" ms-text="el.name"></li>
									</ul>
								</div>
							</div>
						</td>
						<th>
							<label for="building">楼栋:</label>
						</th>
						<td>
							<input type="text" class="input2" id="building" ms-keyup="autoinput('building')" ms-attr-value="form.buildingName" ms-attr-disabled="!form.projectId" ms-blur="autoblur('building')">
							<div class="autocomplete-min" target="building">
							<div class="autocomplete-min-box" ms-visible="building_auto.visible">
								<div class="autocomplete-min-tip" ms-visible="building_auto.loading">查询中...</div>
								<div class="autocomplete-min-tip" ms-visible="!building_auto.loading && building_auto.list.size()==0">查询无数据</div>
									<ul ms-visible="!building_auto.loading">
										<li ms-repeat="building_auto.list" ms-data-id="el.id" ms-data-code="el.code" ms-data-text="el.name" ms-text="el.name"></li>
									</ul>
								</div>
							</div>
						</td>
						<th>
							<label for="houseName">房屋:</label>
						</th>
						<td>
							<input type="hidden" class="input2" id="houseName" placeholder="请输入房屋编码" ms-duplex="form.houseCode" id="houseCode" />
							<input type="text" class="input2" ms-keyup="autoinput('house')" ms-attr-value="form.houseName" ms-attr-disabled="!form.buildingId" ms-blur="autoblur('house')">
							<div class="autocomplete-min" target="house">
								<div class="autocomplete-min-box" ms-visible="house_auto.visible">
									<div class="autocomplete-min-tip" ms-visible="house_auto.loading">查询中...</div>
									<div class="autocomplete-min-tip" ms-visible="!house_auto.loading && house_auto.list.size()==0">查询无数据</div>
									<ul ms-visible="!house_auto.loading">
										<li ms-repeat="house_auto.list" ms-data-id="el.houseId" ms-data-code="el.houseCode" ms-data-text="el.houseName" ms-text="el.houseName"></li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>任务类型:</label></th>
						<td>
							<input type="text" class="input2" ms-duplex="form.businessTypeFullText" ms-widget="businessType,taskinputBusinessWidget" readonly="readonly" data-validator="required{请选择一个匹配的业务类型}">
							<em class="icf-import errortip"></em>
						</td>
						<th>
							<label for="mobile">关联号码:</label>
						</th>
						<td>
							<input type="text" class="input2" placeholder="请输入关联号码" ms-duplex="form.mobile" id="mobile"/>
						</td>
						<td colspan="2">
							<div class="notice-forms-btns">
								<a class="btn btn-primary" ms-click="searchclick"><span class="icon-search icon-white"></span><span> 查 询</span></a>
								<a class="btn" ms-click="resetclick"><span class="icon-refresh"></span><span> 重 置</span></a>
							</div>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>

	<!-- function btns area -->
	<div class="operation_btns none">
	</div>

	<!-- table list area -->
	<div id="tasklisthistory" class="notice-list">
		<table style="width: 180%;" class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>任务标题</th>
					<th>任务编号</th>
					<th>任务级别</th>
					<th>创建时间</th>
					<th>任务类型</th>
					<th>项目名称</th>
					<th>房屋名称</th>
					<th>任务内容</th>
					<th>任务来源</th>
					<th>关联号码</th>
					<th>任务状态</th>
				</tr>
			</thead>
			<tbody id="tbody_tasklisthis">
			</tbody>
		</table>
	</div>

	<!-- table list page area -->
	<div class="pagination" id="paginationhis"></div>

</div>

<script type="text/html" id="tasklistdatahis">
	{{each list as value index}}
	<tr>
		<td>{{value.title}}</td>
		<td><a data-id="{{value.id}}" href="#">{{value.taskNo}}</a></td>
		<td>{{value.levelTypeText}}</td>
		<td>{{value.createTime}}</td>
		<td>{{value.businessTypeText}}</td>
		<td>{{value.projectName}}</td>
		<td>{{value.houseName}}</td>
		<td><span title="{{value.content}}">{{value.contentText}}</span></td>
		<td>{{value.sourceText}}</td>
		<td>{{value.reportUserMobile}}</td>
		<td>{{value.statusText}}</td>
	</tr>
	{{/each}}
</script>