<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>通用配置信息</comment>

    <entry key="env">prd</entry>

    <!-- 站点版本号 -->
    <entry key="version.num">0.6</entry>
    <entry key="version.date">20160324</entry>

	<!--系统登录模式，local：本地登录-->
    <entry key="Profile.Security.Login_Mode">oauth</entry>

    <!--SSO单点登录的地址-->
    <entry key="Profile.SSO.Server_Url">http://localhost:8080/sso/openid</entry>

    <!--oauth2.0客户端ID-->
    <entry key="Profile.oauth.client_id">50bc393fb24fd59e647278de8f46e38d</entry>

    <!--oauth2.0客户端密钥-->
    <entry key="Profile.oauth.client_secret">fea24ce1a64211e5bed4985aeb8bdd9c</entry>

    <!--oauth2.0认证地址-->
    <entry key="Profile.oauth.url">https://4009515151.com/api/lebang/oauth/authorize</entry>

    <!--oauth2.0权限范围-->
    <entry key="Profile.oauth.scopes">r-staff</entry>

    <!--oauth2.0获取access_token权限类型-->
    <entry key="Profile.oauth.access_token_grant_type">authorization_code</entry>

    <!--oauth2.0刷新access_token权限类型-->
    <entry key="Profile.oauth.refresh_token_grant_type">refresh_token</entry>

    <!--oauth2.0回调地址-->
    <entry key="Profile.oauth.redirect_uri">http://crm.vankeservice.com/oauth/token</entry>

    <!--oauth2.0返回值-->
    <entry key="Profile.oauth.response_type">code</entry>

    <!--oauth2.0获取access_token地址-->
    <entry key="Profile.oauth.access_token_url">https://4009515151.com/api/lebang/oauth/access_token</entry>

    <!--oauth2.0刷新access_token地址-->
    <entry key="Profile.oauth.user_info_url">https://4009515151.com/api/lebang/staffs/me?access_token=</entry>

    <!--Session超时时间-->
    <entry key="Profile.SessionMaxTime">3600</entry>

    <!--portal站点-->
    <entry key="portalWeb">http://crm.vankeservice.com</entry>
    <!--静态资源站点-->
    <entry key="staticWeb">http://static.crm.vankeservice.com</entry>
    <!-- 安全管理服务 -->
    <entry key="adminWeb">http://admin.crm.vankeservice.com</entry>

    <!-- 客户服务路径 -->
    <entry key="service.customer.path">http://sc.crm.vankeservice.com/customer/api</entry>
    <!-- 客户服务路径 -->
    <entry key="service.customer.path.domain">http://services.crm.vankeservice.com/customer/api</entry>
    <!-- 房屋服务路径 -->
    <entry key="service.house.path">http://sc.crm.vankeservice.com/house/api</entry>
    <!-- 房屋服务路径 -->
    <entry key="service.house.path.domain">http://services.crm.vankeservice.com/house/api</entry>
    <!-- 任务服务路径 -->
    <entry key="service.task.path">http://sc.crm.vankeservice.com/task/api</entry>
    <!--话务-->
    <entry key="service.tel.path">http://sc.crm.vankeservice.com/tel/api</entry>
    <!-- 问卷服务路径 -->
    <entry key="service.questionnaire.path">http://sc.crm.vankeservice.com/questionnaire/api</entry>

    <!-- RestTemplate相关配置 -->
    <entry key="RestTemplate.readTimeout">60000</entry>

    <entry key="RestTemplate.connectTimeout">10000</entry>

    <!-- 阿里云OSS相关信息 -->
    <!-- OSS ID：-->
    <entry key="oss.id">p7Cs5zrHIoTWsvYW</entry>
    <!-- OSS SECRET -->
    <entry key="oss.secret">9qjRWRQhxoIWpBVz5C0iwzLjVa5rYX</entry>
    <!-- bucket：-->
    <entry key="oss.bucket">crmprod</entry>
    <!-- endpoint要根据实际配置，目前配置为"外网深圳"地址 -->
    <entry key="oss.endpoint">http://oss-cn-shenzhen-internal.aliyuncs.com</entry>
    <!--根目录名-->
    <entry key="oss.uploadRootName">uploadfile</entry>
    <!--大眼睛接口-->
    <entry key="bigEyes.ImgPath">http://imsimage.vanke.com/</entry>
    <entry key="bigEyes.ImgInfoServicePath">http://ims.vanke.com/manage/service/ImgInfoService</entry>

</properties>
