<div class="container-fluid authority-container">
    <div class="row">
        <div data-common-search-bar data-hide-date-range="true" data-hide-export-btn="true"
             data-show-job-status="true"></div>
    </div>
    <div class="row m-t-10">
        <div class="table-responsive">
            <table id="employee-table" class="table table-bordered table-hover table-condensed nowrap">
                <thead>
                <tr>
                    <th>资源编号</th>
                    <th>EHR编号</th>
                    <th>姓名</th>
                    <th>公司</th>
                    <th>部门</th>
                    <th>岗位专业分类</th>
                    <th>职位</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>