<div class="queslist height scrollable" ms-controller="queslist">
	<h4 class="queslist-legend icf-task">客户调查</h4>
	<div class="panel">
		<ul class="queslist-list" id="queslistList">
			<li ms-repeat="list">
				<div class="qb">
					<div class="qb-left">
						<span class="icf-survey"></span>
					</div>
					<div class="qb-right">
						<div class="qb-rate">
							<span>抽样比例：<em class="co-pinkRed"><i ms-text="el.sampleRatio"></i>%</em></span>
							<span>年度完成率：<em class="co-pinkRed"><i ms-text="el.annualCompleteRate"></i>%</em></span>
							<span>问题：<em class="co-blue" ms-text="el.topicCount"></em>条</span>
						</div>
						<div class="qb-btn-group">
					<a class="qb-btn icf-next" 
						ms-attr-href="'#!/quescall?id='+el.id"
						ms-class="disabled:(!el.isEnabled || el.crossTime)" data-action="answer" ms-data-id="el.id">
				&nbsp;<span>开始调查</span></a>
			<!-- <a class="qb-btn icf-edit" data-action="edit" ms-data-id="el.id">&nbsp;<span>编辑</span></a> -->
 			<!-- <a class="qb-btn icf-delete" data-action="delete" ms-data-id="el.id">&nbsp;<span>删除</span></a> -->
						</div>
					</div>
					<div class="qb-center">
						<div class="qb-title" ms-text="el.title"></div>
						<p class="qb-summary" ms-text="el.description"></p>
					</div>
				</div>
			</li>
		</ul>
		<div class="pagination" id="queslist_pager"></div>
	</div>
</div>