<!doctype html>
<html ng-app>
<head>
    <script src="../angular/angular.js"></script>
    <script>
        var $config = this.defaults = {
            // transform incoming response data
            transformResponse: [function (data) {
                if (isString(data)) {
                    // strip json vulnerability protection prefix
                    data = data.replace(PROTECTION_PREFIX, '');
                    if (JSON_START.test(data) && JSON_END.test(data))
                        data = fromJson(data, true);
                }
                return data;
            }],

            // transform outgoing request data
            transformRequest: [function (d) {
                return isObject(d) && !isFile(d) ? toJson(d) : d;
            }],

            // default headers
            headers: {
                common: {
                    'Accept': 'application/json, text/plain, */*',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                post: {'Content-Type': 'application/json;charset=utf-8'},
                put: {'Content-Type': 'application/json;charset=utf-8'}
            }
        };
        //  其中的 JSONP 方法，在实现上会在页面中添加一个 script 标签，
        // 然后放出一个 GET 请求。你自己定义的，匿名回调函数，会被 ng 自已给一个全局变量。在定义请求，
        // 作为 GET 参数，你可以使用 JSON_CALLBACK 这个字符串来暂时代替回调函数名，之后 ng 会为你替换成真正的函数名：
        var p = $http({
            method: 'JSONP',
            url: '/json',
            params: {callback: 'JSON_CALLBACK'}
        });
        p.success(function (response, status, headers, config) {
            console.log(response);
            $scope.name = response.name;
        });
        // $http 有两个属性：defaults 请求的全局配置;pendingRequests 当前的请求队列状态
        $http.defaults.transformRequest = function (data) {
            console.log('here');
            return data;
        }
        console.log($http.pendingRequests);

        // $q.all() 合并多个 promise ，得到一个新的 promise
        //$q.defer() 返回一个 deferred 对象
        //$q.reject() 包装一个错误，以使回调链能正确处理下去
        //$q.when() 返回一个 promise 对象
        var p = $http.get('/json', {params: {a: 1}});
        var p2 = $http.get('/json', {params: {a: 2}});
        var all = $q.all([p, p2]);
        p.success(function (res) {
            console.log('here')
        });
        all.then(function (res) {
            console.log(res[0])
        });
    </script>
</head>
<body>
<div ng-controller="EventController">
    Root scope <b>MyEvent</b> count: {{count}}
    <ul>
        <li ng-repeat="i in [1]" ng-controller="_EventController">
            <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
            <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
            <button ng-click="fireEvent('MyEvent')">fireEvent('MyEvent')</button>
            <br>
            Middle scope <b>MyEvent</b> count: {{count}}
            <ul>
                <li ng-repeat="item in [1]" ng-controller="__EventController">
                    Leaf scope <b>MyEvent</b> count: {{count}}
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    function Sandcrawler($scope) {
        $scope.$on('requestDroidRecall', function (e, msg) {
            $scope.$broadcast('executeDroidRecall', msg);
        });
    }

    function Droid($scope) {
        $scope.location = "Owen Farm";
        $scope.recallAllDroids = function (msg) {
            $scope.$emit('requestDroidRecall', msg);
        }
        $scope.$on('executeDroidRecall', function (e, msg) {
            $scope.location = msg;
        });
    }
</script>
<div ng-controller="Sandcrawler">
    <div ng-controller="Droid">
        <h2>R2-D2</h2>
        <p>Droid Location: {{location}}</p>
        <button ng-click="recallAllDroids('first')">Recall All Droids</button>
    </div>
    <div ng-controller="Droid">
        <h2>C-3PO</h2>
        <p>Droid Location: {{location}}</p>
        <button ng-click="recallAllDroids('last')">Recall All Droids</button>
    </div>
</div>
</body>
</html>