<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- 数据源配置 -->
    <bean id="serviceCenterDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <!-- 连接字符串 -->
        <property name="url" value="${jdbc.baseUrl}${center.jdbc.dbName}${jdbc.options}"/>
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}"/>
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}"/>
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>

    <bean id="serviceCenterDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource" ref="serviceCenterDataSource"/>
        <property name="sqlParser" ref="serviceCenterSqlParser"/>
    </bean>

    <bean id="serviceCenterSqlParser" class="bingo.dao.sql.SqlParser">
        <!--
            定义动态sql中条件表达式的解析器，例如：{?(#loginType#=1) login_name = #loginName#}
            -->
        <property name="testExpressionResolver">
            <bean class="bingo.dao.sql.MvelTestExpressionResolver"></bean>
        </property>

        <!--设置客制化的参数解析器-->
        <property name="sqlParameters">
            <list>
                <bean class="bingo.integration.environment.EnvironmentParameters"></bean>
            </list>
        </property>

        <!--定义sql文件所处的位置和支持的数据库类型，默认配置为oracle数据库-->
        <property name="sqlSource">
            <bean class="bingo.dao.sql.source.XmlSqlSource">
                <property name="sqlLocation" value="classpath*:/sqls/**/*.xml"></property>
            </bean>
        </property>
    </bean>

    <!--数据安全权限解析器-->
    <bean id="security" class="bingo.security.dao.DataSecurityResolver">
    </bean>

    <!-- annotation @Transactional-->
    <tx:annotation-driven transaction-manager="serviceCenterDataSource.transactionManager"/>

    <!--事务配置-->
    <bean id="serviceCenterDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="serviceCenterDataSource"/>
    </bean>

    <tx:advice id="serviceCenterDataSource.txAdvice" transaction-manager="serviceCenterDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceCenterDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="serviceCenterDataSource.txAdvice" pointcut-ref="serviceCenterDataSource.pointcut"/>
    </aop:config>
</beans>