<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <cache:annotation-driven cache-manager="cacheManager"/>

       <bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
              <property name="cacheManagers">
                     <set>
                            <ref bean="redisCacheManager"/>
                     </set>
              </property>
       </bean>

       <!-- 本地内存缓存 -->
       <bean id="memoryCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
              <property name="caches">
                     <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" name="dictionaryCache"/>
              </property>
       </bean>

       <!-- Redis缓存 -->
       <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
              <constructor-arg name="template">
                     <ref bean="redisTemplate"></ref>
              </constructor-arg>
       </bean>
       <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
              <property name="connectionFactory">
                     <ref bean="redisConnection"/>
              </property>
              <property name="defaultSerializer">
                     <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
              </property>
       </bean>
       <bean id="redisConnection" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
              <property name="hostName" value="${redis.url}"/>
              <property name="database" value="${redis.cache.db}"/>
              <property name="password" value="${redis.password}"/>
              <property name="usePool" value="${redis.usePool}"/>
       </bean>

</beans>