<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>通用配置信息</comment>

    <!--系统登录模式，local：本地登录-->
    <entry key="Profile.Security.Login_Mode">local</entry>

    <!--Jso处理资源的模式，true：调试模式，false：生产模式-->
    <entry key="Profile.Jso.Debug_Mode">true</entry>

    <!--DhtmlxGrid导出Excel文件的临时目录-->
    <entry key="Profile.DhtmlxGrid.Export_Excel_Path">c:\</entry>

    <!--SSO单点登录的地址-->
    <entry key="Profile.SSO.Server_Url">http://localhost:8080/sso/openid</entry>

    <!--默认主题样式-->
    <entry key="Profile.theme">mobile</entry>

    <!--是否模拟软电话-->
    <entry key="Profile.ImitatePhone">true</entry>

    <!--静态资源站点-->
    <entry key="staticWeb">http://10.0.72.35/static</entry>
    <!-- 安全管理服务 -->
    <entry key="adminWeb">http://10.0.72.35:8080/admin</entry>

    <!-- 客户服务路径 -->
    <entry key="service.customer.path">http://10.0.72.35/customer/api</entry>
    <!-- 房屋服务路径 -->
    <entry key="service.house.path">http://10.0.72.35/house/api</entry>
    <!-- 任务服务路径 -->
    <entry key="service.task.path">http://10.0.72.35/task/api</entry>
    <!-- 话务服务路径 -->
    <entry key="service.tel.path">http://10.0.72.35/tel/api</entry>
    <!-- 调查问卷服务路径 -->
    <entry key="service.questionnaire.path">http://10.0.72.35/questionnaire/api</entry>

    <!-- 新建任务URL地址-->
    <entry key="Profile.AddTaskPath">http://10.0.72.35/cc/newtask.jsp</entry>

    <!-- RestTemplate相关配置 -->
    <entry key="RestTemplate.readTimeout">60000</entry>

    <entry key="RestTemplate.connectTimeout">10000</entry>

    <!-- 是否启用软电话WebService -->
    <entry key="Profile.SoftPhoneServiceEnable">true</entry>

    <!-- 软电话WebService地址 -->
    <entry key="Profile.SoftPhoneServiceHost">10.0.72.35</entry>

</properties>