<!-- 整体页面布局 -->
<div id="tab-custquery" class="task_layout" ms-controller="custquery">
    <!-- search area -->
    <div class="form_layout">
        <form>
            <fieldset>
                <table class="task table task-table">
                    <tr>
                        <th class="alignMiddle"><label>项目</label></th>
                        <td>
                            <input type="text" data-target="project" ms-keyup="autoinput"
                                   ms-attr-value="form.projectName" autocomplete="off">
                            <input type="hidden" ms-attr-value="form.projectId">

                            <div class="autocomplete" target="project">
                                <div class="autocomplete-box" ms-visible="project_auto.visible">
                                    <div class="autocomplete-tip" ms-visible="project_auto.loading">查询中...</div>
                                    <div class="autocomplete-tip"
                                         ms-visible="!project_auto.loading && project_auto.list.size()==0">查询无数据
                                    </div>
                                    <ul ms-visible="!project_auto.loading" id="project_auto">
                                        <li ms-repeat="project_auto.list" ms-data-id="el.id" ms-data-code="el.code"
                                            ms-data-text="el.name" ms-text="el.name"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <th class="alignMiddle"><label>楼栋</label></th>
                        <td>
                            <input type="text" data-target="building" ms-keyup="autoinput"
                                   ms-attr-disabled="!form.projectId" ms-attr-value="form.buildingName"
                                   autocomplete="off">
                            <input type="hidden" ms-attr-value="form.buildingId">
                            <a class="icf-search" ms-class="hidden:!form.projectId"
                               ms-click="eventQueryAuto('building')"></a>

                            <div class="autocomplete" target="building">
                                <div class="autocomplete-box" ms-visible="building_auto.visible">
                                    <div class="autocomplete-tip" ms-visible="building_auto.loading">查询中...</div>
                                    <div class="autocomplete-tip"
                                         ms-visible="!building_auto.loading && building_auto.list.size()==0">查询无数据
                                    </div>
                                    <ul ms-visible="!building_auto.loading" id="building_auto_list">
                                        <li ms-repeat="building_auto.list" ms-data-id="el.id" ms-data-code="el.code"
                                            ms-data-text="el.name" ms-text="el.name"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <th class="alignMiddle"><label>房屋</label></th>
                        <td>
                            <input type="text" data-target="house" ms-keyup="autoinput" ms-attr-value="form.houseName"
                                   ms-attr-disabled="!form.buildingId" autocomplete="off">
                            <input type="hidden" ms-attr-value="form.houseCode">
                            <a class="icf-search" ms-class="hidden:!form.buildingId"
                               ms-click="eventQueryAuto('house')"></a>

                            <div class="autocomplete" target="house">
                                <div class="autocomplete-box" ms-visible="house_auto.visible">
                                    <div class="autocomplete-tip" ms-visible="house_auto.loading">查询中...</div>
                                    <div class="autocomplete-tip"
                                         ms-visible="!house_auto.loading && house_auto.list.size()==0">查询无数据
                                    </div>
                                    <ul ms-visible="!house_auto.loading" id="house_auto_list">
                                        <li ms-repeat="house_auto.list" ms-data-id="el.houseId"
                                            ms-data-code="el.houseCode" ms-data-text="el.houseName"
                                            ms-data-isout="el.outer" ms-text="el.houseName"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="alignMiddle"><label>客户名称</label></th>
                        <td><input type="text" ms-duplex="form.fullName"/></td>
                        <th class="alignMiddle"><label>手机号</label></th>
                        <td><input type="text" ms-duplex="form.mainMobile"/></td>
                        <th class="alignMiddle"><label>车牌号</label></th>
                        <td><input type="text" ms-duplex="form.licenseNumber"/></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>

    <!-- function btns area -->
    <div class="operation_btns right">
        <a class="btn btn-primary btn-small" ms-click="eventQueryList"><span
                class="icon-search icon-white"></span>查询</a>
        <a ms-click="eventReset" class="btn btn-small"><span class="icon-refresh"></span>重置</a>
    </div>

    <div class="notice-list" id="custquery">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>房屋</th>
                <th>姓名</th>
                <!-- add by liaochao 20160127 begin-->
                <th>客房关系</th>
                <!--add by liaochao 20160127 end-->
                <th>电话</th>
                <th>车牌</th>
                <th>证件类型</th>
                <th>证件号码</th>
            </tr>
            </thead>
            <tbody>
            <tr ms-visible="!listLoading" ms-repeat="list">
                <!-- <td><a ms-data-id="el.id">新增任务</a></td> -->
                <td><span ms-text="el.houseName"></span></td>
                <td><span ms-text="el.fullName"></span></td>
                <!-- add by liaochao 20160127 begin-->
                <td><span ms-text="el.relationTypeText"></span></td>
                <!--add by liaochao 20160127 end-->
                <td><span ms-text="el.mainMobile"></span></td>
                <td><span ms-text="el.licenseNumber"></span></td>
                <td><span ms-text="el.certificateTypeText"></span></td>
                <td><span ms-text="el.certificateId|numberMask"></span></td>
            </tr>
            <tr ms-visible="listLoading">
                <td colspan="7" class="align-center">加载中...</td>
            </tr>
            <tr ms-visible="!listLoading && list.size()==0">
                <td colspan="7" class="align-center">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- total area -->
    <div class="total">
        共 <b ms-text="pagination.totalSize"></b> 条记录
    </div>
    <div class="pagination" id="pagination"></div>
</div>