<div class="container-fluid vk-container common-search-bar">
    <div class="row vk-spaced-row">
        <div class="col-md-5">
            <select id="select-company" class="selectpicker" multiple data-none-selected-text="公司范围"
                    data-selected-text-format="count" data-width="100%" data-live-search="true"
                    ng-options="option.company_name for option in organizations track by option.company_id"
                    ng-model="selcompanies"
                    ng-finish-render>
            </select>
        </div>
        <div class="col-md-5">
            <select id="select-department" class="selectpicker" multiple data-none-selected-text="部门/项目"
                    data-selected-text-format="count" data-actions-box="true" data-live-search="true"
                    ng-options="option.department_name for option in departments track by option.department_id"
                    data-width="100%" ng-model="seldepartments">
            </select>
        </div>
        <div class="col-md-2 margin-top-8">
            <a class="pull-right" href="javascript:void(0)" ng-click="clear()">清除查询条件</a>
        </div>
    </div>
</div>