<div class="row vk-spaced-row auth-org-group">
    <div class="col-md-12 auth-org-group-title">
        <div class="checkbox">
            <label ng-class="{ disabled : isAllDisabled }">
                <input type="checkbox" value="" ng-model="isAllChecked" ng-change="masterChange()" ng-disabled="isAllDisabled" ><strong>{{ checkboxGroupTitle }}</strong>
            </label>
        </div>
    </div>
    <div class="auth-org-group-sub">
        <div class="col-xs-6 col-sm-3" ng-repeat="item in checkboxGroupData | orderBy:sortItems ">
            <div class="checkbox">
                <label ng-class="{ disabled : item.isDisabled }" ng-click="itemClick(item)" >
                    <input type="checkbox" value="" ng-checked="item.isSelected" ng-model="item.isSelected"
                           ng-change="itemChange(item)" ng-disabled="item.isDisabled" >{{ item[displayType] }}
                </label>
            </div>
        </div>
    </div>
</div>