<div class="container-fluid vk-employee-container" id="help-container">

    <div class="row welcome-header">
        <div class="col-md-8">
            <h4>积分规则参数设定说明</h4>
        </div>
        <div class="col-md-4 text-right">
            <a href="#/task-point-rules" class="btn btn-default">返回列表</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-9">
            <div class="help-img help-img-task-point-rules">
            </div>
            <ul class="help-content-list">
                <li>
                    <div class="with-label">
                        <label>单项任务得分 ＝ </label>

                        <p>任务基本分 + 响应时间得分 + 完成时间得分 + 金额得分 + 评价得分</p>
                    </div>
                </li>
                <li>
                    <div class="with-label">
                        <label>任务基本分 ＝ </label>

                        <p>标准工时 * 标准工时系数</p>
                    </div>
                </li>
                <li>
                    <div class="with-label">
                        <label>响应时间得分 ： </label>

                        <p>小于设定值，设定加分（正值）；大于设定值，设定减分（负值）</p>
                    </div>
                </li>
                <li>
                    <div class="with-label">
                        <label>响应时间得分 ： </label>

                        <p>小于设定值，设定加分（正值）；大于设定值，设定减分（负值）</p>
                    </div>
                </li>
                <li>
                    <div class="with-label">
                        <label>金额得分 ＝ </label>

                        <p>任务收入 * 任务收入系数</p>
                    </div>
                </li>
                <li>
                    <div class="with-label">
                        <label>评价得分 ： </label>

                        <p>每个星级设定的加分（正值）或减分（负值）</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
        </div>
    </div>


</div>
