<!doctype html>
<html ng-app>
<head>
    <script src="../angular/angular.js"></script>
    <style rel="stylesheet" type="text/css">
        .error {
            background-color: red;
        }

        .warning {
            background-color: yellow;
        }

        .selected {
            background-color: lightgreen;
        }

        .strike {
            text-decoration: line-through;
        }

        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }

        .odd {
            color: red;
        }

        .even {
            color: blue;
        }
    </style>
    <script>
        /**
         * Created by Administrator on 13-11-5.
         */
        function HeaderController($scope) {
            $scope.isError = false;
            $scope.isWarning = false;
            $scope.showError = function () {
                $scope.messageText = 'This is an error';
                $scope.isError = true;
                $scope.isWarning = false;
            };
            $scope.showWarning = function () {
                $scope.messageText = 'Just a warning. Please carry on';
                $scope.isWarning = true;
                $scope.isError = false;
            };
        }


        function RestuarantTableController($scope) {
            $scope.directory =
                [{name: 'The Handsome Heifer', cuisine: 'BBQ'},
                    {name: 'Green\'s Green Greens', cuisine: 'Salads'},
                    {name: 'House of Fine Fish', cuisine: 'Seafood'}];
            $scope.selectRestaurant = function (row) {
                $scope.selectedRow = row;
            };
        }
    </script>
</head>
<body>
<div ng-controller="HeaderController">
    <div ng-class="{error: isError, warning:isWarning}">{{messageText}}</div>
    <button ng-click="showError()">Simulate Error</button>
    <button ng-click="showWarning()">Simulate Warning</button>
</div>
<hr>


<table ng-controller="RestuarantTableController">
    <tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)"
        ng-class="{selected: $index==selectedRow}">
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.cuisine}}</td>
    </tr>
</table>
<hr>


<p ng-class="{strike: strike, bold: bold, red: red}">Map Syntax Example</p>
<input type="checkbox" ng-model="bold"> bold
<input type="checkbox" ng-model="strike"> strike
<input type="checkbox" ng-model="red"> red
<hr>
<p ng-class="style">Using String Syntax</p>
<input type="text" ng-model="style" placeholder="Type: bold strike red">
<hr>
<p ng-class="[style1, style2, style3]">Using Array Syntax</p>
<input ng-model="style1" placeholder="Type: bold"><br>
<input ng-model="style2" placeholder="Type: strike"><br>
<input ng-model="style3" placeholder="Type: red"><br>


<ol ng-init="names=['John', 'Mary', 'Cate', 'Suz']">
    <li ng-repeat="name in names">
       <span ng-class-odd="'odd'" ng-class-even="'even'">
         {{name}} &nbsp; &nbsp; &nbsp;
       </span>
    </li>
</ol>
</body>
</html>