<div class="search_layout" ms-controller="quesquery">
    <div class="form_layout">
        <!-- search area -->
        <form id="search_from" action="javascript:void(0)">
            <table id="task" class="table task-table">
                <tr>
                    <th>
                        <label for="fromTime">开始时间:</label>
                    </th>
                    <td>
                        <input type="text" class="Wdate input2" id="fromTime"
                               onclick="WdatePicker({maxDate:'#F{$dp.$D(\'toTime\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               ms-duplex="form.fromTime"/>
                    </td>
                    <th>
                        <label for="toTime">结束时间:</label>
                    </th>
                    <td>
                        <input type="text" class="Wdate input2" id="toTime"
                               onclick="WdatePicker({minDate:'#F{$dp.$D(\'fromTime\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               ms-duplex="form.toTime"/>
                    </td>
                    <th>
                        <label for="fromDuration">通话时长:</label>
                    </th>
                    <td>
                        <input type="text" class="input1" ms-duplex="form.fromDuration" id="fromDuration"
                               placeholder="单位为秒"/>
                        至
                        <input type="text" class="input1" ms-duplex="form.toDuration" id="toDuration"
                               placeholder="单位为秒"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="questionnaireName">问卷名称:</label>
                    </th>
                    <td>
                        <input type="text" class="input2" ms-duplex="form.questionnaireName" placeholder="请输入问卷名称"
                               id="questionnaireName"/>
                    </td>
                    <th>
                        <label for="callNumber">联系电话:</label>
                    </th>
                    <td>
                        <input type="text" class="input2" ms-duplex="form.callNumber" placeholder="请输入联系电话"
                               id="callNumber"/>
                    </td>
                    <th>
                        <label for="telephonist">受理人:</label>
                    </th>
                    <td>
                        <input type="text" class="input2" ms-duplex="form.telephonist" placeholder="请输入受理人"
                               id="telephonist"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="projectName">项目名称:</label>
                    </th>
                    <td>
                        <input type="hidden" ms-duplex="form.projectCode"/>
                        <input type="text" id="projectName" ms-attr-value="form.projectName" class="input2"
                               ms-keyup="autoinput('project')">
                        <div class="autocomplete-min" target="project">
                            <div class="autocomplete-min-box" ms-visible="project_auto.visible">
                                <div class="autocomplete-min-tip" ms-visible="project_auto.loading">查询中...</div>
                                <div class="autocomplete-min-tip"
                                     ms-visible="!project_auto.loading && project_auto.list.size()==0">查询无数据
                                </div>
                                <ul ms-visible="!project_auto.loading">
                                    <li ms-repeat="project_auto.list" ms-data-id="el.id" ms-data-code="el.code"
                                        ms-data-text="el.name" ms-text="el.name"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <th>
                        <label for="buildingName">楼栋:</label>
                    </th>
                    <td>
                        <input type="hidden" ms-duplex="form.buildingCode"/>
                        <input type="text" class="input2" id="buildingName" ms-keyup="autoinput('building')"
                               ms-attr-value="form.buildingName" ms-attr-disabled="!form.projectId">
                        <div class="autocomplete-min" target="building">
                            <div class="autocomplete-min-box" ms-visible="building_auto.visible">
                                <div class="autocomplete-min-tip" ms-visible="building_auto.loading">查询中...</div>
                                <div class="autocomplete-min-tip"
                                     ms-visible="!building_auto.loading && building_auto.list.size()==0">查询无数据
                                </div>
                                <ul ms-visible="!building_auto.loading">
                                    <li ms-repeat="building_auto.list" ms-data-id="el.id" ms-data-code="el.code"
                                        ms-data-text="el.name" ms-text="el.name"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <th>
                        <label for="houseName">房屋:</label>
                    </th>
                    <td>
                        <input type="hidden" ms-duplex="form.houseCode"/>
                        <input type="text" class="input2" id="houseName" ms-keyup="autoinput('house')"
                               ms-attr-value="form.houseName" ms-attr-disabled="!form.buildingId"
                        >
                        <div class="autocomplete-min" target="house">
                            <div class="autocomplete-min-box" ms-visible="house_auto.visible">
                                <div class="autocomplete-min-tip" ms-visible="house_auto.loading">查询中...</div>
                                <div class="autocomplete-min-tip"
                                     ms-visible="!house_auto.loading && house_auto.list.size()==0">查询无数据
                                </div>
                                <ul ms-visible="!house_auto.loading">
                                    <li ms-repeat="house_auto.list" ms-data-id="el.houseId" ms-data-code="el.houseCode"
                                        ms-data-text="el.houseName" ms-text="el.houseName"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="anomalousErrorCategory">未接通异常:</label>
                    </th>
                    <td>
                        <select id="anomalousErrorCategory" class="select2" ms-duplex="form.anomalousErrorCategory">
                            <option value="">全部</option>
                            <option ms-repeat="anomalousErrorCategory" ms-attr-value="el.code"
                                    ms-text="el.value"></option>
                        </select>
                    </td>
                    <th>
                        <label for="answerAbnormal">接通异常:</label>
                    </th>
                    <td>
                        <select id="answerAbnormal" class="select2" ms-duplex="form.answerAbnormal">
                            <option value="">全部</option>
                            <option ms-repeat="answerAbnormal" ms-attr-value="el.code" ms-text="el.value"></option>
                        </select>
                    </td>
                    <th>
                        <label for="isComplete">是否完成调查:</label>
                    </th>
                    <td>
                        <select class="select2" id="isComplete" ms-duplex="form.isComplete">
                            <option value="">全部</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="tapeCode">流水号:</label>
                    </th>
                    <td>
                        <input type="text" class="input2" ms-duplex="form.tapeCode" placeholder="请输入流水号" id="tapeCode"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="operation_btns right">
        <a class="btn btn-primary btn-small" ms-click="eventQueryList">
            <span class="icon-search icon-white"></span><span>查询</span></a>
        <a class="btn btn-small" ms-click="eventQueryReset"><span
                class="icon-refresh"></span><span>重置</span></a>
    </div>
    <!-- table list area -->
    <div class="notice-list" id="quesquery_list">
        <table class="table table-hover table-bordered list-max">
            <thead>
            <tr>
                <th>操作</th>
                <th>通话时间</th>
                <th>联系电话</th>
                <th>通话时长</th>
                <th>挂机方</th>
                <th>受理人</th>
                <th>是否完成调查</th>
                <th>项目名称</th>
                <th>房屋名称</th>
                <th>接通异常</th>
                <th>未接通异常</th>
                <th>问卷名称</th>
                <th>任务编号</th>
                <th>流水号(录音)</th>
            </tr>
            </thead>
            <tbody id="quesquery_tbody">
            <tr ms-if="!isLoading && list.size()==0">
                <td class="align-center" colspan="14">暂无数据</td>
            </tr>
            <tr ms-if="isLoading">
                <td class="align-center" colspan="14">正在加载...</td>
            </tr>
            <tr ms-repeat="list">
                <td>
                    <a name="record"
                       ms-data-record="el.recordNo" ms-click="onAction">播放录音</a>
                    <a name="newTask"
                       ms-data-id="el.callId"
                       ms-data-number="el.callNumber"
                       ms-data-projectName="el.projectName"
                       ms-data-projectId="el.projectId"
                       ms-data-projectCode="el.projectCode"
                       ms-data-houseName="el.houseName"
                       ms-data-houseId="el.houseId"
                       ms-data-houseCode="el.houseCode"
                       ms-data-customerName="el.customerName"
                       ms-data-callRecordId="el.callRecordId"
                       ms-click="onAction">补录任务</a>
                </td>
                <td><span ms-text="el.callTime"></span></td>
                <td><span ms-text="el.callNumber"></span></td>
                <td><span ms-text="el.durationTime"></span></td>
                <td><span ms-text="el.hangUp"></span></td>
                <td><span ms-text="el.telephonist"></span></td>
                <td><span ms-text="el.completed"></span></td>
                <td><span ms-text="el.projectName"></span></td>
                <td><span ms-text="el.houseName"></span></td>
                <td><span ms-text="el.abnormalText"></span></td>
                <td><span ms-text="el.errorCategoryText"></span></td>
                <!-- <td><span ms-text="el.title"></span></td> -->
                <td>
                    <a name="viewAnswer"
                       ms-data-questionnaireId="el.questionnaireId" ms-data-answerId="el.answerId"
                            ms-text="el.title" ms-click="onAction"></a>
                </td>
                <td><span ms-text="el.tasks"></span></td>
                <!-- <td>
                    <a name="taskno" ms-repeat="el.tasks" ms-data-taskno="el"><span ms-text="el"></span>;</a>
                </td> -->
                <td><span ms-text="el.recordNo"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- table list page area -->
    <div class="pagination" id="quesquery_pager"></div>

</div>


<div id="modal_question" class="modal fade" id="modal" style="display:none;width: 90%;margin: 0;left: 5%;" ms-controller="quesquery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img ms-attr-src="imgPath" alt="客户调查" style="float:left;width:32px;height:30px;margin-right: 10px;">
                <h3 class="modal-title"><b>客户调查</b></h3>
                <div style="height:5px;background-color:#59c3e0;margin-top: 5px;"></div>
                <h4 style="margin-bottom: 0;"><b>客户:</b><b id="cusName"></b></h4>
            </div>
            <div class="modal-body">
                <div ms-if="isLoadingQuestionAndAnswer" style="text-align: center;">加载中</div>
                <div ms-if="noQuestionAndAnswer" style="text-align: center;">无数据</div>
                <table class="table table-condensed table-bordered"
                       ms-if="!isLoadingQuestionAndAnswer&&!noQuestionAndAnswer"
                       style="max-height: 200px;overflow: auto;">
                    <thead>
                    <tr>
                        <th style="width:10%;">序号</th>
                        <th style="width:60%;">问题</th>
                        <th style="width:30%;">答案</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-repeat="questionAnswerList" data-repeat-rendered="rendered">
                        <td style="width:10%;">{{el.sequence}}</td>
                        <td style="width:60%;">{{el.title}}</td>
                        <td style="width:30%;">{{el.contentToBeShown}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
