<div class="height" id="ms_notice" ms-controller="contentnotice">
	<div class="container">
		<div class="search-panel">
		    <div class="search-form">
		        <form>
	                <table class="table search-table">
	                    <tbody><tr>
	                        <th>
	                            <label>开始日期:</label>
	                        </th>
	                        <td colspan="3">
	                            <input type="text" class="Wdate input2" id="contentnotice_starttime" 
		                            ms-duplex="form.starttime"
	                            	onclick="WdatePicker({maxDate:'#F{$dp.$D(\'contentnotice_endtime\')}',
	                                   startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                        	</td>
                        	<th>
	                            <label>结束日期:</label>
                        	</th>
                        	<td>
	                            <input type="text" class="Wdate input2" id="contentnotice_endtime" 
	                            	ms-duplex="form.endtime"
	                            	onclick="WdatePicker({minDate:'#F{$dp.$D(\'contentnotice_starttime\')}',
	                                   startDate:'%y-%M-%d 23:59:59',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
	                        </td>
	                        <th>
	                            <label>通知类型:</label>
	                        </th>
	                        <td>
	                            <select ms-duplex="form.type" class="select2">
	                            	<option value="">全部</option>
	                            	<option value="1">签入/签出</option>
	                            	<option value="2">公告审批提醒</option>
	                            </select>
	                        </td>
	                        <th>
	                            <label>通知内容:</label>
	                        </th>
	                        <td>
	                            <input type="text" ms-duplex="form.content" class="input2" placeholder="模糊搜索">
	                        </td>
	                    </tr>
	                </tbody></table>
		        </form>
		    </div>
		    <div class="search-operation right">
		        <a class="btn btn-success btn-small" ms-click="markclick">
		            <span class="icon-ok icon-white"></span>
		            全部置为已阅
		        </a>
		        <a class="btn btn-primary btn-small" ms-click="searchclick">
		            <span class="icon-search icon-white"></span>
		            查 询
		        </a>
		        <a class="btn btn-small" ms-click="resetclick">
		            <span class="icon-refresh"></span>
		            重 置
		        </a>
		    </div>
			<ul class="nav nav-tabs task-tabs">
				<li ms-class="active:index=='unread'"><a ms-click="changeTab('unread')"><span>待阅</span></a></li>
				<li ms-class="active:index=='read'"><a ms-click="changeTab('read')"><span>已阅</span></a></li>
			</ul>
			<div ms-if="index=='unread'" class="search-list tab-list hg1">
		        <table class="table table-hover table-bordered">
		        	<thead>
		        		<tr>
		        			<th style="width:120px;">发布时间</th>
		        			<th style="width:160px;">通知类型</th>
		        			<th>通知内容</th>
		        		</tr>
		        	</thead>
		        	<tbody>
			        	<tr ms-visible="unreadlist.loading">
			        		<td class="align-center" colspan="3">正在加载中...</td>
		        		</tr>
		        		<tr ms-visible="!unreadlist.loading&&unreadlist.data.size()==0">
			        		<td class="align-center" colspan="3">暂无数据</td>
		        		</tr>
		        		<tr ms-repeat="unreadlist.data">
		        			<td><span ms-text="el.createdAt"></span></td>
		        			<td><span ms-text="el.type|notificationType"></span></td>
		        			<td><span ms-text="el.content"></span></td>
		        		</tr>
		        	</tbody>
		        </table>
	        </div>
		    <div ms-if="index=='read'" class="search-list hg1">
		        <table class="table table-hover table-bordered">
		        	<thead>
		        		<tr>
		        			<th style="width:120px;">发布时间</th>
		        			<th style="width:160px;">通知类型</th>
		        			<th>通知内容</th>
		        		</tr>
		        	</thead>
		        	<tbody>
			        	<tr ms-visible="readlist.loading">
			        		<td class="align-center" colspan="3">正在加载中...</td>
		        		</tr>
		        		<tr ms-visible="!readlist.loading&&readlist.data.size()==0">
			        		<td class="align-center" colspan="3">暂无数据</td>
		        		</tr>
		        		<tr ms-repeat="readlist.data">
		        			<td><span ms-text="el.createdAt"></span></td>
		        			<td><span ms-text="el.type|notificationType"></span></td>
		        			<td><span ms-text="el.content"></span></td>
		        		</tr>
		        	</tbody>
		        </table>
	        </div>
			<div class="pagination" id="contentnotice_unread_pager" ms-if="index=='unread'"></div>
			<div class="pagination" id="contentnotice_read_pager" ms-if="index=='read'"></div>
		</div>
	</div>
</div>