@charset "UTF-8";
$headerHeight: 55px;
$callHeight: 55px;
$headerLeftWidth: 340px;
$headerRightWidth: 230px;
$footerHeight: 0;

.wrap {
	height: 100%;
}
.pipe {
	$pipeHeight: 24px;
	float: left;
	margin-top: ($headerHeight - $pipeHeight)/2;
	border-left: 1px solid #000;
	display: inline-block;
	height: $pipeHeight;
	vertical-align: middle;
}
.header {
	// height: $headerHeight;
	background-color: $coBlue;
	position: fixed;
	top: 0;
  	height: 55px;
	width: 100%;
	z-index: 2;

	.header-left {
		position: relative;
		float: left;
		width: $headerLeftWidth;
		height: $headerHeight;
	}
	.header-right {
		text-align: right;
		position: absolute;
	  	right: 0px;
		line-height: $headerHeight;
		height: $headerHeight;
		background-color: $coDeepBlue;
	}
	.header-center {
		position: absolute;
		color: #D4715E;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-left: $headerLeftWidth;
		height: $headerHeight;
		line-height: $headerHeight;
	}
	.pipe {
		border-color: $coBlueGray;
	}
}
.logo {
	color: #FFF;
	height: $headerHeight;
	line-height: $headerHeight - 5;
	text-align: center;
	background-color: $coDeepBlue;
	$imgHeight: 36px;

	img {
		vertical-align: middle;
	}
	em {
		display: inline-block;
		height: $imgHeight;
		border-left: 1px solid $coBlueGray;
		vertical-align: middle;
		margin: 0 20px;
	}
	h1 {
		display: inline-block;
		font-size: 20px;
		vertical-align: middle;
		height: $imgHeight;
		line-height: $imgHeight;
		margin: 0;
	}
}
.header-box {
	display: none;
	position: absolute;
	width: 160px;
	background-color: #494949;
	text-align: left;
	right: 48px;
	top: $headerHeight;
	z-index: 2;

	&.on {
		display: block;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		&:first-child {
			span {
				border-top: none;
			}
		}
		&:last-child {
			span {
				border-bottom: none;
			}
		}
	}
	span {
		padding-left: 18px;
		display: block;
		line-height: 40px;
		border-bottom: 1px solid  #313131;
		border-top: 1px solid  #606060;
		color: #b7b7a9;
	}
}
.header-btns {
	padding-left: 10px;
	padding-right: 5px;
	font-size: 14px;

	.btn {
		background-color: transparent;
		border: none;
		color: #FFF;

		&.on {
			background-color: $coDeepBlue;
		}
	}
	.h-btn {
		color: #FFF;
		float: left;
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
		height: $headerHeight;

		&:hover {
			color: #FFF;
		}
		i {
			font-size: 22px;
		}
	}
	.header-user {
		padding:0 20px;
		text-align: left;

		i {
			display: inline-block;
			vertical-align: top;
			width: 20px;
			margin-left: -20px;
		}
		span {
			padding: 0 8px;
			text-align: center;
			@include ellipsis;
		}
	}
}
.content {
	height: 100%;
	margin-top: $headerHeight;
	box-sizing: border-box;
	padding-bottom: 60px;
	position: relative;

  	/* 内容页左侧栏 */
  	.left{
	  width: 20%;
	  padding: 10px;
	  height: 100%;
	  float: left;
	  border-right: 1px solid #E0DFDF;
	  min-width: 240px;

	  /* 显示\隐藏 侧边栏 */
	  .sidebar-handle{
		position: inherit;
		text-align: right;
		padding: 8px;
		background-color: #eee;
		color: #868383;
		margin: 0 0 10px;
		span{
		  float: left;
		  padding: 8px;
		  font: bold 14px/0.4 "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
		  text-transform: uppercase;
		}
	  }

	  /* 分组 */
	  .accordion-group {
		border-radius: 0;
		/* 分组标题 */
		.accordion-heading
		{
		  background-color: #FDFDFD;
		  .handle {
			color: #bbb;
			font-family: "iconfont" !important;
		  }
		  .item{
			&:after{
			  content: "\e602";
			}
		  }
		  .down {
			&:after {
			  content: "\e600";
			}
		  }
		  .up {
			&:after {
			  content: "\e601";
			}
		  }
		  /* 分组标题字体 */
		  .accordion-toggle {
			color: #EE7E61;
			outline: none;
		  }
		}
	  }

	  /* 分组内容 */
	  .accordion-inner{
		background-color: #EFEFEF;
		ul{
		  margin: 0;
		  list-style-type: circle;
		  li{
			padding: 6px 0;
			margin: 0 30px;
			cursor: pointer;
			&:hover{
			  text-decoration: underline;
			  color: #000;
			}
		  }
		}
	  }
	}

  	/* 内容区域右侧 */
  	.right{
	  height: 100%;
	  .pagecontent{
		overflow: auto;
		position: relative;
		height: 100%;
	  }
  	}
}