@charset "UTF-8";
$sidebarWidth: 280px;

.sidebarvisible {
	.sidebar {
		width: $sidebarWidth;

		.sidebar-content {
			display: block;
		}
		.sidebar-handle {
			.handle {
				&:after {
					content: "\e62c";
				}
			}
		}
	}
	.container {
		margin-left: $sidebarWidth;
	}
}
.sidebar {
	width: 0;
	height: 100%;
	float: left;
	position: relative;

	.sidebar-content {
		display: none;
		height: 100%;
		overflow: auto;
	}
	.sidebar-handle {
		cursor: pointer;
		position: absolute;
		top: 40%;
		z-index: 100;
		$width: 8px;
		right: -$width*2;

		&:before, &:after {
			content: "";
			display: block;
			border-style: solid;
			border-width: $width;
			border-color: $coBlue;
		}
		&:before {
			border-top-color: transparent;
			border-right-color: transparent;
		}
		&:after {
			border-bottom-color: transparent;
			border-right-color: transparent;
		}
		.handle {
			display: block;
			height: 40px;
			line-height: 40px;
			background-color: $coBlue;
			color: #FFF;
			text-align: center;

			&:after {
				@include iconfont;
				content: "\e629";
			}
		}
	}

	/* panel */
	.panel {
		border: 1px solid $coDeepGray;
		margin-bottom: 10px;

		.panel-header {
			background-color: $coGray;
			line-height: 32px;
			height: 32px;
			padding: 0 8px;

			em {
				float: right;
				margin-left: 5px;
				cursor: pointer;
			}
		}
		.panel-body {
			padding: 10px;
		}
		.popover {
			font-style: normal;
			color: $fontColorLight;
			max-width: none;
			top: -7px;
			left: auto;
			right: 24px;
			padding: 6px 0;
			width: $sidebarWidth - 60;

			.arrow {
				top: 20px;
			}
			.popover-title {
				background-color: #FFF;
				padding: 0 10px 6px 10px;
			}
			.popover-content {
				padding: 0 10px;
			}
			dl {
				margin: 0;
				padding: 0;
				list-style: none;
			}
		}
		.ul-list {
			margin: 0;

			ul, dl {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				list-style: none;
				line-height: 30px;
				border-bottom: 1px solid $coGray;
				position: relative;
				clear: both;
			}
			dd {
				margin: 0;
				padding: 0;
				list-style: none;
				line-height: 32px;
				border-bottom: 1px solid $coGray;
				position: relative;
			}
			i {
				margin-right: 6px;
			}
			em {
				float: right;
				position: relative;

				&:hover {
					.popover {
						display: block;
					}
				}
			}
			.listicon {
				float: left;
			}
		}
		.listlink {
			color: $fontColorLight;
			display: block;
			margin-right: 20px;
			margin-left: 20px;
			font-size: 12px;

			&:hover {
				color: $fontColor;
			}
		}
	}
	.relation-list {
		.rela-name {
			color: $fontColorLight;
			display: inline-block;
			width: 8em;
			vertical-align:middle;
			@include ellipsis;
		}
		.rela-v {
			display: inline-block;
			width: 2em;
		}
		.rela-sex {
			display: inline-block;
			width: 2em;
			text-align: center;
		}
		.popover {
			// width: 240px;
			// left: -115px;
		}
		i {
			min-width: 1em;
			text-align: center;
		}
		li {
			em {
				&:before {
					color: $coCyan;
				}
			}
		}
	}
	.call-list {
		.icf-callin {
			color: $coGreen;
		}
		.icf-callout {
			color: $coPinkRed;
		}
		li {
			em {
				&:before {
					color: $coCyan;
				}
			}
		}
		.popover {
			// width: 200px;
			// left: -95px;
		}
		.popover-content {
			span {
				color: $coCyan;
			}
		}
	}
	.building-list {
		.icf-sound {
			color: $coPinkRed;
		}
		.building-address {
			margin-left: 20px;
			margin-right: 20px;
			display: block;
			@include ellipsis;
			color: $fontColorLight;

			&:hover {
				color: $fontColor;
			}
		}
		.popover {
			// width: 360px;
			// left: -175px;
		}
		.popover-content {
			color: $fontColorLight;

			h4 {
				font-size: 16px;
				margin: 6px 0 6px 0;
				font-weight: normal;
				color: $coCyan;
			}
			p {
				margin: 0;
				padding-top: 8px;
				line-height: 20px;
			}
		}
		.li-arrow {
			width: 16px;
			cursor: pointer;

			&:after {
				@include iconfont;
				content: "\e629";
			}
		}
		ul.sublist {
			display: none;
			margin-left: 30px;

			span {
				vertical-align: middle;
			}
			.subtask {
				font-size: 12px;
			}
			.code {
				display: inline-block;
				width: 120px;
				overflow: hidden;
				color: $fontColorLight;
				padding-right: 10px;
				@include ellipsis;
			}
			.type {
				display: inline-block;
				width: 50px;
				color: $coPinkRed;
				@include ellipsis;
			}
			.state {
				display: inline-block;
				width: $fontSize * 2;
				text-align: right;
				color: $fontColorLight;
			}
		}
		.active {
			.li-arrow {
				&:after {
					content: "\e62a";
				}
			}
			.sublist {
				display: block;
			}
		}
		li {
		}
	}
	.draft-list {
		.phonenumber {
			width: 8em;
			display: inline-block;
		}
		.listlink {
			margin-right: 0;
		}
	}
}