@charset "UTF-8";

/* color */
.co-blue {
  color: $coBlue
}

.co-deepBlue {
  color: $coDeepBlue
}

.co-lightBlue {
  color: $coLightBlue
}

.co-cyan {
  color: $coCyan
}

.co-deepCyan {
  color: $coDeepCyan
}

.co-green {
  color: $coGreen
}

.co-yellow {
  color: $coYellow
}

.co-red {
  color: $coRed
}

.co-gray {
  color: $coGray
}

.co-blueGray {
  color: $coBlueGray
}

.co-deepGray {
  color: $coDeepGray
}

.co-lightGray {
  color: $coLightGray
}

.co-lightGray2 {
  color: $coLightGray2
}

.co-deepOrange {
  color: $coDeepOrange
}