@charset "UTF-8";

/* common */
.hide {
  display: none;
}

/* 文字长度省略 */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alignLeft {
  text-align: left !important;
}

.alignCenter {
  text-align: center !important;;
}

.alignRight {
  text-align: right !important;;
}

.ellipsis {
  @include ellipsis;
}

.relative {
  position: relative;
}

.scrollable {
  overflow-y: auto;
}

.word {
  display: inline-block;
  border: 1px solid $coCyan;
  color: $coCyan;
  padding: 3px 6px;
  margin-right: 10px;
  position: relative;

  span {
    // display: block;
  }
  i {
    color: $fontColor;
    font-style: normal;
    margin-left: 3px;
    display: none;
  }
}

.editmode {
  .word {
    i {
      display: inline;
    }
  }
}

.cover {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*background-color:#CCC;
  opacity:0.5*/
  background-color: #fff;
}

.loadcover {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  span {
    position: absolute;
    background: url(../../img/loading.gif) no-repeat center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /*background-color:#CCC;
    opacity:0.5*/
    background-color: #fff;
  }
}

/* layout */
$lyLeftWidth: 230px;
$lyRightWidth: 230px;

.ly-left {
  width: $lyLeftWidth;
  background-color: $coLightGray;
  position: relative;
  height: 100%;
  overflow: auto;
  float: left;
  border-right: 1px solid $coGray;
  //padding-top: 10px;
  box-sizing: border-box;
}

.ly-center {
  position: relative;
  margin-left: $lyLeftWidth+1;
  height: 100%;
}

.ly-right {
  width: $lyRightWidth;
  //background-color: $coLightGray;
  position: relative;
  height: 100%;
  overflow: auto;
  float: right;
  border-left: 1px solid $coGray;
}

.ly-center2 {
  position: relative;
  margin-right: $lyRightWidth+1;
  height: 100%;
}

.ly-panel {
  display: none;
  height: 100%;

  &.on {
    display: block;
  }
}

/* panel */
.panel {
  padding: 0 10px 10px 10px;

  .panel-header {
    line-height: 30px;
    @include clearBoth;
  }
  .panel-body {
    padding-top: 10px;
  }
  .panel-title {
    float: left;
    // width: 6em;
    font-size: 16px;
    color: $coCyan;
  }
  .panel-header-right {
    font-size: 14px;
    margin-left: 6em;
    text-align: right;
    padding-top: 8px;

    .btn {
      padding: 2px 6px;

      i {
        color: $coCyan;
      }
    }
  }
  .panel-hide {
    display: none;
  }
  .panel-btns {
    text-align: center;
    padding: 10px 0;
  }
  .panel-footer {
    border-top: 1px solid #eeeeee;
    text-align: center;

    .more-info {
      cursor: pointer;
      font-size: 12px;
      background-color: $coLightGray2;
      padding: 3px 6px;
      display: inline-block;
      border-left: 1px solid $coLightGray;
      border-right: 1px solid $coLightGray;
      border-bottom: 1px solid $coLightGray;
      width: 6em;

      &:after {
        @include iconfont;
        content: "更多信息 \e602";
      }
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
  &.panel-visable {
    .panel-hide {
      display: block;
    }
    .panel-footer {
      .more-info:after {
        content: "收缩信息 \e603";
      }
    }
  }
}

.table-info {
  width: 100%;

  th, td {
    border-top: none;
    padding: 3px 5px;
  }
  th {
    font-weight: normal;
    color: $coDeepGray;
    text-align: right;
  }
}

.table-head {
  margin-bottom: 0;

  th {
    border-top: none;
    text-align: center;
  }
}

.table-edit {
  .i-btn {
    margin-right: 2px;
  }
}

.table-list {
  $borderColor: #e5eaf0;
  $thborderColor: #dbdbdb;
  th {
    background-color: #eff2f6;
    color: $coCyan;
    font-weight: normal;
    text-align: center;
    border: 1px solid $borderColor;
  }
  th, td {

    &:first-child {
      border-left: 1px solid $borderColor;
    }
  }
  td {
    border-right: 1px solid $borderColor;
    border-top: none;
    border-bottom: 1px solid $borderColor;
  }
}

.tabcontent {
  display: none;

  &.active {
    display: block;
  }
}

.crm-table {
  border-top: 1px solid #bfcfda;
  border-left: 1px solid #dce7ef;
  border-right: 1px solid #dce7ef;
  border-bottom: 1px solid #dce7ef;

  th {
    text-align: center;
    background-color: #eef0f4;
    border: 1px solid #bfcfda;
  }
  td {
    .i-btn {
      margin-right: 2px;
    }
  }
}

/* dialog */
.modal {
  .modal-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.formstate-input {
  display: none;
}

.formstate-edit {
  .formstate-text {
    display: none;
  }
  .formstate-input {
    display: block;
  }
}

.input-tip {
  color: $coLightGray;
  strong {
    color: $coPinkRed;
  }
}



/* errortip */
.errortip {
  visibility: hidden;
  font-size: 20px;
  vertical-align: middle;
  color: $coRed;

  &.on {
    visibility: visible;
  }
}

.pagination {
  margin: 10px 0 40px 0;
}

.modal.large {
  width: 960px;
  left: 50%;
  margin-left: -480px;
}

.modal.medium {
  width: 600px;
  left: 50%;
  margin-left: -300px;
}