@charset "UTF-8";
$fontSize: 12px;
$lineHeight: 20px;
$fontColor: #555;
$fontColorLight: #4c4c4c;
//color
$coBlue: #488fd1;
$coDeepBlue: #4180bc;
$coLightBlue: #c9e5ff;
$coSeaBlue: #4bb8fe;
// cyan
$coCyan: #3eafed;
$coDeepCyan: #28c8bf;
//green
$coGreen: #07c15e;
//yellow
$coYellow: #ffc100;
//red
$coRed: #fc6d6d;
$coLightRed: #F58C8C;
//gray
$coGray: #d6dde7;
$coBlueGray: #6aa4da;
$coDeepGray: #999;
//$coLightGray: #edf2fb;
$coLightGray: #f9f9f9;
$coLightGray2: #f1f3f9;
//orange
$coDeepOrange: #e88228;
// red
$coRed: #e23c3c;
// pink red
$coPinkRed: #ff867d;