@charset "UTF-8";
$headerHeight: 55px;
$headerLeftWidth: 340px;
$headerRightWidth: 230px;
$footerHeight: 40px;

.wrap {
  height: 100%;
}

.header {
  // height: $headerHeight;
  background-color: $coBlue;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  .header-left {
    position: relative;
    float: left;
    width: $headerLeftWidth;
    height: $headerHeight;
    border-right: 1px solid $coBlueGray;
  }
  .header-right {
    float: right;
    text-align: right;
    position: relative;
    width: $headerRightWidth;
    border-left: 1px solid $coBlueGray;
    line-height: $headerHeight;
    height: $headerHeight;
    background-color: $coDeepBlue;
  }
  .header-center {
    position: relative;
    margin-left: $headerLeftWidth+1;
    margin-right: $headerRightWidth+1;
    height: $headerHeight;
    line-height: $headerHeight;
  }
}

.logo {
  display: block;
  color: #FFF;
  height: $headerHeight;
  line-height: $headerHeight - 5;
  text-align: center;
  background-color: $coDeepBlue;
  $imgHeight: 36px;

  &:hover {
    color: #fff !important;
  }
  img {
    vertical-align: middle;
  }
  em {
    display: inline-block;
    height: $imgHeight;
    border-left: 1px solid $coBlueGray;
    vertical-align: middle;
    margin: 0 20px;
  }
  h1 {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    height: $imgHeight;
    line-height: $imgHeight;
    margin: 0;
  }
}

.logout {
  width: 50px;
  cursor: pointer;
  font-size: 20px;
  color: #adc9e2;
  text-align: center;
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: $coDeepBlue;
}

.header-box {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #494949;
  text-align: left;
  right: 48px;
  top: $headerHeight;
  z-index: 800;
  &.on {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    &:first-child {
      span {
        border-top: none;
      }
    }
    &:last-child {
      span {
        border-bottom: none;
      }
    }
  }
  span {
    padding-left: 18px;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #606060;
    color: #b7b7a9;
  }
}

.header-btns {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 14px;

  .btn {
    background-color: transparent;
    border: none;
    color: #FFF;

    &.on {
      background-color: $coDeepBlue;
    }
  }
  .pipe {
    $pipeHeight: 22px;
    float: left;
    margin-top: ($headerHeight - $pipeHeight)/2;
    border-left: 1px solid $coBlueGray;
    display: inline-block;
    height: $pipeHeight;
    vertical-align: middle;
  }
  .h-btn {
    color: #FFF;
    float: left;
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    height: $headerHeight;

    &:hover {
      color: #FFF;
    }
    i {
      font-size: 22px;
    }
  }
  .header-user {
    // padding-right: 2em;
    padding-left: 20px;
    width: 98px;

    text-align: left;

    span {
      display: inline-block;
      width: 98px;
      text-align: center;
      @include ellipsis;
    }
    &:before {
      @include iconfont;
      content: "\e607";
      display: inline-block;
      vertical-align: top;
      width: 20px;
      margin-left: -20px;
    }
    /* &:after {
        @include iconfont;
        display: inline-block;
        vertical-align: top;
        width: 1em;
        margin-right: -1em;
        content: "\e62c";
    } */
  }
}

.content {
  height: 100%;
  padding-top: $headerHeight;
  box-sizing: border-box;
  padding-bottom: $footerHeight;
}

.footer {
  height: $footerHeight;
  background-color: $coLightGray2;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $coGray;
}