@charset "UTF-8";
$fontsize: 12px;

html, body {
  height: 100%;
  overflow: hidden;
  font-size: $fontSize;
  color: $fontColor;
}

hr {
  margin: 0;
}

form {
  margin: 0;
}

.table {
  margin-bottom: 0;
}

.btn {
  background-image: none;
  box-shadow: none;
  // border-color: transparent;
  text-shadow: none;
  font-size: $fontsize;
}

.radio.inline, .checkbox.inline {
  margin-left: 0 !important;
  margin-right: 5px;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

.nav {
  height: 39px;
  padding-left: 20px;
  margin-bottom: 0;
}

.nav-tabs > li {
  border-top: 3px solid transparent;

  & > a {
    border-top: none;
    margin-right: 0;
    color: $fontColorLight;
    min-width: 30px;
    text-align: center;

    &:hover, &:focus {
      background: none;
      border-radius: 0;
      border-top: none;
      border-color: transparent;
    }
  }
  &.active {
    border-top: 3px solid $coBlue;

    a {
      border-top: none;
      border-radius: 0;
      color: $coCyan;

      &:hover, &:focus {
        border-top: none;
        color: $coCyan;
      }
    }
  }
}

/*Bootstrap样式重置*/
* {
  label {
    font-size: $fontsize !important;
  }

  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: $fontsize !important;
  }

  label, input, button, select, textarea {
    font-size: $fontsize;
  }
}

.add-on {
  font-size: $fontsize !important;
}

.btn {
  font-size: $fontsize !important;
}