@charset "UTF-8";

/* 任务列表 */
/*查询*/
.table-list {
  td{
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
  }
}
.task_searchForm-list{
  th{
    padding:8px 0;
    font-weight:bold;
  }
}
.task_searchForm{
  table{
    margin:auto;
    width:100%;
    td{
      text-align:right;
      padding:5px;
    }
  }
}
/************
************ 
tab样式
*************
************/
.WorkbenchTab{
  background:#f3f3f3;
  border-bottom:1px solid #e4e4e4;
  height:44px;
  width:100%;
  ul{
    margin:0px;
    li{
      list-style-type:none;
      float:left;
      a{
        display:block;
        height:44px;
        line-height:44px;
        background:#f3f3f3;
        padding:0 20px;
        font-size:$fontSize;
        color:#707070;
        border-bottom:1px solid #e4e4e4;
        outline:none;
        star:expression(this.onFoucs=this.blur());
        &:hover{
          color:#002c56;
        }
      }
      &.active{
        a{
          background:#f9f9f9;
          height:45px;
          line-height:44px;
          color:#191919;
          border-bottom:none;
          border-right:1px solid #e4e4e4;
          border-left:1px solid #e4e4e4;
        }
      }
    }
  }
}
/************
************ 
*任务列表样式
*************
************/
.customerTable{
  min-height:300px;
}
.manage-tab{
  border-bottom:3px solid #488fd1;
  ul{
    margin:0px;
    li{
      list-style-type:none;
      float:left;
      line-height:36px;
      padding: 0 20px;
      background:#ffffff;
      color:#488fd1;
      cursor:pointer;
      &.active{
        background:#488fd1;
        color:#ffffff;
      }
    }
  }
}
.GtasksPanel{
  height:auto;
}
.task_card {
  width: 100%;
  margin-bottom: 15px;
}
.task_card th,.task_card td {
  padding:0 14px;
  line-height: 35px;
  border: 1px solid #e8e8e8;
}
.task_card {
  th{
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    span,label{
      display: inline;
      line-height: 30px;
      font-size: $fontSize;
      font-weight: normal;
    }
  }
  .task_btn {
    height:20px;
    width: 43px;
    display: inline-block;
    margin:auto;
    line-height: 20px;
    text-align: center;
    &.task_btn_edit{
      background: #488fd1;
      border: 1px solid #4180bc;
      color:#ffffff;
    }
    &.task_btn_add{
      background: #dbdbdb;
      border: 1px solid #b4b4b4;
      color: #000000;
    }
  }
  td a:hover{
    background: #cdcdcd;
  }
  .task_btn_sure{
    color: #ffffff;
    background: #006dcc;
    border: 1px solid #0056a1;
    :hover{
      background: #0062b8;
    }
  }
}
/************
************ 
弹出编辑样式
*************
************/
.task_body{
  position:relative;
}
.modal_edittask{
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  width: auto;
  background: none;
  margin: 0px;
  .modal_wrap{
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  }
}
.modal_edittask{
  .panel{
    padding-top:0px;
  }
  .modal-body{
    padding:0px;
  }
}
.task_housename{
  font-weight:normal;
  font-size:$fontSize;
  line-height:36px;
  margin: 0px;
  background: #f1f1f1;
  text-align:center;
}
.btn_exchange{
  display:block;
  width:22px;
  height:16px;
  background: url(../../img/exchange.png) no-repeat;
}
.btn-editinfo{
  display:block;
  width:45px;
  height:20px;
  line-height:20px;
  color:#383838;
  background:#dfdfdf;
  border:1px solid #999999;
  text-align:center;
  float:right;
  display:none;

}
.edit-info{
  table{
    width:100%;
    td{
      border-bottom:1px solid #f1f1f1;
      height:36px;
      text-align:left;
      &.basedata{
        input,.info-div{
          color:#026dff;
        }
        input{
          margin-left:-4px;
        }
      }
      &.tempdata{
        width:180px;
        input,span,.info-div{
          color:#a2aac1;
          font-size:$fontSize;
        }
        input{
          width:160px;
          margin-left:-4px;
        }
      }
      &.edit-btnbar{
        width:50px;
      }
      &.task_info_exchange{
        width:100px;
      }
    }
    th{
      border-bottom:1px solid #f1f1f1;
      width:110px;
      text-align:right;
    }
    &:hover{
      .edit.editstate{
        display:block;
      }
    }

  }
  &.noborder{
    td,th{
      border-bottom:none;
    }
  }
  .info-input{
    font-size:$fontSize;
    &.info-input-unedit{
      border:none;
      overflow:hidden;
      *border:red;
      background:none;
    }
  }
  i{
    &.error{
      color:#de5145;
    }
    &.OK{
      color:#1aa260;
    }
  }
  .info_checkbar{
    font-size:$fontSize;
    display:none;
  }
  .info_checkbar{
    border-bottom:1px solid #f1f1f1;
    text-align:left;
    padding: 0 40px 10px 60px;
    label{
      font-size:$fontSize;
      margin:4px;
      padding-top:0px;
    }
  }
}
