@charset "UTF-8";

.listbar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    display: block;

    & > div {
      //border-bottom: 1px solid #CCC;
    }
  }
  .on {
    & > div span {
      border-left-color: $coBlue;
      color: $coBlue;
      background-color: $coLightBlue;
    }
  }
  $liHeight: 20px;

  span {
    display: block;
    height: $liHeight;
    line-height: $liHeight;
    padding: 7px 40px 7px 20px;
    border-left: 4px solid transparent;
    white-space: nowrap;
  }
}