@charset "UTF-8";
$houseBtnGroupHeight: 40px;

.welcome {
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  top: 0px !important;
  text-indent: -9999px;
  background: url(../../img/sc/welcome.png) no-repeat center;
}

.index-panel {
  position: absolute;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: $houseBtnGroupHeight;
}
.building-btns {
  background-color: $coLightGray;
  text-align: right;
  padding: 6px;
}
.building-list {
  .building-floor {
	border: 1px solid $coGray;
	margin: 10px 0;
	padding: 0 10px;

	&.on {
	  .floor-body {
		display: block;
	  }
	  .floor-header {
		border-bottom: 1px solid $coGray;

		&:after {
		  content: "\e603";
		}
	  }
	}
  }
  .floor-header {
	line-height: 40px;
	cursor: pointer;
	position: relative;

	&:after {
	  @include iconfont;
	  content: "\e602";
	  float: right;
	  color: $coGray;
	}
  }
  .floor-more {
	border: 1px solid $coGray;
	text-align: center;
	cursor: pointer;
	height: 139px;
	width: 139px;
	line-height: 139px;
	margin-top: 6px;

	&:after {
	  content: "MORE";
	  font-size: 26px;
	  color: #E6E6E6;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
  }
  .floor-loading {
	cursor: wait;

	&:after {
	  content: "LOADING"
	}
  }
  .floor-body {
	display: none;
  }
}
.floor-body {
  padding: 0 10px 10px 0;
  @include clearBoth;
}
/*房屋合并按钮开始*/
#house-combine-btn {
  display: none;
  padding: 5px 25px;
  text-align: right;
  border-bottom: 1px solid #d6dde7;
  label, a {
	display: inline-block;
	line-height: 26px;
  }
  label {
	margin-bottom: 0px;
	color: #a8a8a8;
  }
  a {
	text-align: center;
	width: 60px;
	margin-left: 5px;
  }
  a.btn-sure {
	color: #fff;
	background: #006dcc;
  }
  a.btn-cancel {
	color: #3f3f3f;
	background: #cacaca;
  }
  a.btn-sure:hover {
	background: #00529a;
  }
  a.btn-cancel:hover {
	background: #bcbcbc;
  }
}
/*房屋合并按钮结束*/
/*房屋树样式开始
.floor-room-alone  floor-room
.floor-room-split  floor-room3
.floor-room-merge  floor-room2
.floor-room-okhouse  floor-room5*/

.dotted {
  border: 1px dotted #a6a6a6;
}

.hlist {
  ul {
	list-style: none;
	margin: 0px;
	li {
	  border-bottom: 1px solid #f7f7f7;
	  line-height: 24px;
	  padding: 0 5px;
	  &:hover {
		color: #0063bf;
		font-weight: bold;
	  }
	}
  }
}

.floor-room-alone,
.floor-room-okhouse,
.floor-room-split,
.floor-room-merge {
  cursor: pointer;
  float: left;
  margin: 8px 0 0 8px;
  padding: 8px;
}
.floor-room-alone,
.floor-room-okhouse {
  margin-top: 0px;
}
.floor-room-split,
.floor-room-merge,
.floor-room {
  .blue {
	background: #009cff;
	color: #fff;
  }
  .gray {
	background: #8d8d8d;
	color: #fff;
  }
  .red {
	background: #de5145;
	color: #fff;
  }
}
.floor-room-split,
.floor-room-merge {
  border: 1px solid $coGray;
  .split-house-Info,
  .merge-house-info {
	height: 148px;
	float: left;
  }
  .split-house-Info {
	margin-left: 6px
  }
  .merge-house-info {
	.hlist2 {
	  ul {
		li {
		  float: left;
		}
	  }
	}
	h1 {
	  border-bottom: 1px solid #f7f7f7;
	  line-height: 24px;
	  font-size: 12px;
	  font-weight: normal;
	  margin: 0px;
	  padding: 4px 10px;
	  background: #f5f5f5;
	}
  }
  .house-bar {
	float: left;
	width: 354px;
	height: 150px;
	overflow: auto;
	.floor-room-okhouse {
	  margin-bottom: 8px;
	}
  }
}

.floor-room-split {
  .split-house-Info, .along-house-Info {
	h2, h3 {
	  font-weight: normal;
	  text-align: center;
	  line-height: 30px;
	  width: 100px;
	}
	h3 {
	  font-size: 28px;
	  color: #c7c7c7;
	  &:hover {
		color: #999999;
	  }
	}
	h2 {
	  font-size: 14px;
	}
  }
  .merge-house-info {
  }
  .along-house-Info {
	padding-top: 20px;
	float: left;
  }

}

.floor-room-merge {
  .split-house-Info {
	width: auto !important;
	h2, h3 {
	  font-weight: normal;
	  text-align: center;
	  line-height: 30px;
	}
	h3 {

	  font-size: 28px;
	  color: #c7c7c7;
	  width: 100px;
	}
	h2 {
	  font-size: 14px;
	  width: 100px;
	}
  }
  .merge-house-info {
	margin-left: 8px;
	//height: 144px;
  }

}

.floor-room-alone {
  width: 160px;
  margin-top: 8px;
  height: 150px;
}

.floor-room-persondetail {
  background-position: -6px -6px !important;
  float: left;
  width: 160px;
  margin: 4px 4px;
  cursor: pointer;
  .alone-house-info {
	padding: 2px 0 0 60px;
  }
  &:hover {
	.room-address {
	  b {
		color: #0063bf;
	  }
	}
  }
}

.floor-room-okhouse {
  width: 140px;
}
.floor-room,
.floor-room-split,
.floor-room-merge {
  .room-child {
	position: relative;
	text-align: right;
	height: 26px;
	span {
	  padding: 4px 6px;
	  color: #FFF;
	}
  }
  .alone-house-info {
	//width:158px;
	//height:158px;
  }
  .room-num {
	height: 40px;
	text-align: right;
	font-size: 28px;
	padding-bottom: 6px;
	padding-top: 10px;
  }
  .room-address {
	height: $lineHeight * 2;
	line-height: 20px;
	margin: 8px 0;
	color: $fontColorLight;
	b {
	  font-weight: normal;
	  font-size: 12px;
	}
  }
  .room-name {
	color: $coDeepGray;

	b {
	  font-weight: normal;
	  font-size: 12px;
	  display: block;
	  @include ellipsis;
	}
  }
}

.floor-room {
  background-position: left top;
  background-repeat: no-repeat;

  &.state00 {
	border: 1px solid #999999;
	background-image: url(../../img/sc/state/weizhi.png);
	&:hover {
	  .room-num {
		color: #004f77;
	  }
	}
  }
  &.state01 {
	border: 1px solid #07c15e;
	background-image: url(../../img/sc/state/changzhu.png);

	.room-num {
	  color: #07c15e;
	}
	.room-child span {
	  background-color: #07c15e;
	}
	&:hover {
	  .room-num {
		color: #008b41;
	  }
	}
  }
  &.state02 {
	border: 1px solid #ffc100;
	background-image: url(../../img/sc/state/kongzhi.png);

	.room-num {
	  color: #ffc100;
	}
	.room-child span {
	  background-color: #ffc100;
	}
	&:hover {
	  .room-num {
		color: #b38800;
	  }
	}
  }
  &.state03 {
	border: 1px solid #4bb8fe;
	background-image: url(../../img/sc/state/dujia.png);

	.room-num {
	  color: #4bb8fe;
	}
	.room-child span {
	  background-color: #4bb8fe;
	}
	&:hover {
	  .room-num {
		color: #036caf;
	  }
	}
  }
  &.state04 {
	border: 1px solid #fc6d6d;
	background-image: url(../../img/sc/state/chuzu.png);

	.room-num {
	  color: #fc6d6d;
	}
	.room-child span {
	  background-color: #fc6d6d;
	}
	&:hover {
	  .room-num {
		color: #be4242;
	  }
	}
  }
  &.state05 {
	border: 1px solid #ffc100;
	background-image: url(../../img/sc/state/chewei.png);

	.room-num {
	  color: #ffc100;
	}
	.room-child span {
	  background-color: #ffc100;
	}
	&:hover {
	  .room-num {
		color: #a98000;
	  }
	}
  }
  &.active {
	border-color: #0066f0;
  }
}
/*房屋树样式结束*/
.room-subbox {
  display: none;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 100px;
  right: 100px;
  padding: 20px;
  z-index: 108;
  background-color: #FFF;

  .subbox-content {
	overflow: auto;
	height: 100%;
	@include clearBoth;
  }
}
$searchHeight: 40px;

.ly-park-header {
  padding: 6px;
/* 注释由于添加车位搜索功能
  .btn {
	background-color: transparent;
  }
*/
}

.ly-search-panel {
  padding: 6px;
}
.ly-search-panel, .ly-park-header {
  background-color: $coLightGray;
  //height: $searchHeight;
  line-height: 30px;
  border-bottom: 1px solid #ededed;

  .back {
	font-size: 24px;
  }
  .btn {
	i {
	  color: $coSeaBlue;
	}
  }
}
.ly-result-panel {
  position: absolute;
  top: $searchHeight + 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 10px 10px 10px;
  overflow: auto;
}
.ly-park-nav {
  position: relative;
  padding: 10px 10px 0 10px;

  .ly-park-navbtns {
	display: none;
	position: absolute;
	right: 20px;
	top: 10px;

	.btn {
	  background-color: $coSeaBlue;
	  color: #FFF;
	}
	select {
	  margin-bottom: 0;
	}
  }
}
.ly-park-panel {
  position: absolute;
  top: $searchHeight + 50;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding: 10px;
  overflow: auto;
}
// park
.park-wrap {
  display: none;
  @include clearBoth;

  &.active {
	display: block;
  }
}
.park {
  float: left;
  $parkHeight: 97px;
  height: $parkHeight;
  width: 160px;
  border: 1px solid $coGray;
  text-align: center;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;

  .park-check {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
  }
  .park-name {
	border-bottom: 1px solid $coGray;
	padding: 6px;
	height: 38px;
  }
  .park-owner {
	color: $fontColorLight;
  }
  .park-address {
	padding: 6px;
  }
  .park-phone {
	color: $coDeepGray;
	padding: 6px;
  }
  &:hover {
	.park-zone {
	  display: block;
	}
  }
  &.park-more {
	line-height: $parkHeight;
	cursor: pointer;

	&:after {
	  content: "more"
	}
  }
  &.park-loading {
	cursor: wait;

	&:after {
	  content: "Loading..."
	}
  }
}
.edit-modal {
  .ly-park-navbtns {
	display: block;
  }
  .park {
	cursor: pointer;

	&.on {
	  .park-check:after {
		color: $coCyan;
	  }
	}
  }
  .park-check {
	&:after {
	  @include iconfont;
	  content: "\e62f";
	  color: #CCC;
	}
  }
}
#buildingPanel.active {
  .cover {
	display: block;
  }
  .room-subbox {
	display: block;
  }
}

/*********
********
tree样式
*********
********/
.firstul {
  border-bottom: 1px solid #d6dde7;
}

.first-tree-brank {
  padding-left: 14px;
  background: #efefef;
  border-bottom: 1px solid #d6dde7;
  border-top: 1px solid #ffffff;
}

.first-tree-brank {
  span {
	padding: 10px 0px 10px 5px !important;
  }
}
/*********
********
查询房屋控件样式
*********
********/
#houseName + .dropdown-menu{
	left:auto !important;
	right:59px;
}

/*首页-当前位置样式*/
.vk-breadcrumb {
  float: left;
  line-height: 30px;
}

/*车场分组*/
.carport-group {
  display: none;
  float: right;
  padding-left: 10px;

  a {
	background: #ffffff !important;
  }

  a:hover {
	background: #ebf2ff !important;
  }

  select {
	margin: 0px;
	width: 120px;
	font-size: 12px;
  }
}

.carport-group-block {
  display: block;
}