@charset "UTF-8";

$biTopHeight: 90px;

.detail-nav {
  $width: 48px;
  $height: 48px;

  background-color: $coLightGray2;
  height: $height;

  a {
    display: block;
    float: left;
    width: $width;

    .icf-back {
      display: inline-block;
      height: $height;
      width: $width;
      line-height: $height - 5;
      font-size: 1.5em;
      vertical-align: middle;
      text-align: center;
    }
  }

  span {
    float: left;

    h4 {
      line-height: $height;
      font-weight: normal;
      margin: 0px;
    }
  }
}

.detail-btn-group {
  text-align: right;
  margin: 5px 5px 0 0;

  .btn {
    height: 20px;
    line-height: 20px;
  }
}

.detail-content {
  position: absolute;
  top: $biTopHeight;
  bottom: 0;
  padding: 0 10px 10px 10px;
  overflow: auto;
  width: 98%;

  .table-info {
    table-layout: fixed;
    margin: 5px 0;

    th {
      width: 8em;
    }
    td {
      width: 20%;
    }
  }
}

.transfer-house {
  .control-label {
    padding-top: 0;
    width: 90px;
  }
  .controls {
    margin-left: 100px;
  }
  .table-body {
    height: 200px;
    overflow-y: auto;
  }
  .tag {
    padding: 2px;
  }
}

.dtn-tabbar {
  display: none;
  &.active {
    display: block;
  }
  > h5 {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #5dc0ff;
    background: #ffffff;
    line-height: 200px;
    text-align: center;
  }
}

.control-group {
  select, input {
    width: 160px;
  }
  input[type="radio"] {
    width: auto;
  }
}

.dtn-controls {
  label {
    input {
      width: auto;
    }

  }
}

.table-newuser {
  label {
    line-height: 30px;
  }
  label.radio {
    line-height: 20px;
  }

}

.dtn-radioBOX {
  label {
    line-height: 20px;
    input {
      width: auto;
    }
  }
}

.dtn-noHasData {
  min-height: 200px;
  font-size: 24px;
  line-height: 200px;
  text-align: center;
  background: #ffffff;
}

.transferModal {
  .left {
    overflow-y: hidden;
    padding: 15px;
    .row {
      .span12 {
        padding-left: 3em;
      }
      .span4 {
        text-align: right;
      }
    }
  }
  .right {
    height: 400px;
    overflow-y: auto;
    margin-left: 0;
    margin-right: 20px;
  }
}