@charset "UTF-8";

.addc-ly-left {
  width: 28%;
  background-color: #edf2fb;
  position: relative;
  height: 100%;
  overflow: auto;
  float: left;
  border-right: 1px solid #d6dde7;
}

.addc-listbar {
  margin-left: 15px;
  margin-right: 15px;
}

.addc-ly-center {
  width: 71.9%;
  position: relative;
  height: 100%;
  overflow: auto;

  .table {
    margin-bottom: 5px;
  }
  form {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    .table th, .table td {
      padding: 0;
    }
    label {
      margin-top: 4px;
    }
  }
}

.addc-search {
  margin-top: 40px;
  input {
    width: 248px;
    padding: 6px 0 8px 12px;
  }
  button {
    padding: 7px;
    width: 87px;
  }
}

#addc-form {
  label.error {
    color: red;
  }
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  .addc_yezhuship {
    display: -webkit-box;
    label {
      margin-top: 4px;
    }
    .span1 {
      width: 100px;
    }
  }
}

#J_form_occupation {
  label {
    width: 152px;
  }
}

.addc_fangkeship {
  .controls {
    margin-left: 40px;
  }
}

.addc_btn {
  margin-top: 25px;
  button {
    width: 140px;
  }
  .btn-danger {
    margin-left: 25px;
  }
}

#J_userInfoList {
  margin-top: 50px;
  .table {
    margin-bottom: 0;
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }
  }
}

.addc_specialidentity {
  padding-left: 20px;

  margin-left: 100px;
  label {
    width: 152px;
  }

}

.form_CustomerDetail {
  table {
    margin-bottom: 0;
  }
}

.addc_button_group {
  position: absolute;
  bottom: 10%;
  right: 9%;
}

.addc_user_lbs {
  padding: 15px 15px 0px;
  margin-left: 20px;
  p {
    font-size: 20px;
    color: #ccc;

  }
}

.addc_mi {
  color: red;
}

.addc_query_info {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

#form_hobbies {
  .addc_hobbies {
    margin-left: 23px;
    .controls {
      margin-left: 80px;
    }
  }
}

#form_Specialidentity {
  .addc_specialidentity {
    margin-left: 0px;
    .controls {
      margin-left: 80px;
    }
  }
}

#form_starttime {
  margin-left: 96px;
  display: inline-block;
  input {
    width: 144px;
  }
}

#form_chixutime {
  display: inline-block;
  select {
    width: 80px;
  }
}

.jiufen {
  form {
    label {
      display: inline-block;
    }
    margin-right: 5px;
  }
}

#form_houseRel {
  .control-group {
    display: flex;
    margin-left: 47px;
    .controls {
      margin-left: 22px;
    }
  }
}

#form_kehuRel {
  table {
    margin-left: 10px;
  }
}

#form_kehuRel {
  font-size: 14px;
  ul {
    margin-left: 47px;
  }
}

#addc_form_btn {
  margin-bottom: 40px;
  padding: 10px;
}

.aaaaa {
  display: none !important;
}

#_view_Occupation {
  label {
    width: 166px;
  }
}

#_view_hobby {
  label {
    width: 119px;
  }
}

#_view_customerIdentity {
  label {
    width: 130px;
  }
}

#_d_hobby {
  label {
    width: 110px;
  }
}

#_d_job {
  label {
    width: 191px;
  }
}

.dtn-controls {
  input {
    width: auto !important;
  }
}