<div class="container-fluid">
    <!--<div class="row">
        <div class="col-md-12">
            <common-company-department selcompanies="selectedCompanies"
                                       seldepartments="selectedDepartments" departments="departments"
                                       organizations="organizations"></common-company-department>
        </div>
    </div>-->
    <div class="row vk-spaced-row">
        <div id="shift-view" class="search-in-right">
            <div data-common-search-bar data-week-range="true" data-hide-export-btn="true" data-hide-groups="true"
                 data-hide-date-range="true"
                 data-hide-search-input="true"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="area-table" class="table table-bordered table-hover nowrap">
                    <thead>
                    <tr>
                        <th>部门编号</th>
                        <th>公司</th>
                        <th>项目</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>