<div class="container-fluid authority-container">
    <div class="row">
        <div data-common-search-bar data-hide-export-btn="true"
             data-show-standard-work-jobs="true" data-extend-buttons="{{extendButton}}"></div>
    </div>
    <div class="row">
        <div class="table-responsive vk-table-complex">
            <table class="table table-bordered table-hover display nowrap fl" id="notTaskWealth" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>岗位</th>
                    <th>财富值</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>时长 <br/>(单位/分钟)</th>
                    <th>类型</th>
                    <th>标准财富值 <br/>(单位/每分钟)</th>
                    <th>资源编号</th>
                    <th>EHR编号</th>
                    <th width="150">公司</th>
                    <th>项目</th>
                    <th>在职状态</th>
                    <th>操作</th>
                </tr>
                <thead>
            </table>
        </div>
    </div>
</div>
