<div class="container-fluid">
    <div class="row vk-spaced-row">
        <div class="col-md-4">
            <div class="right-inner-addon ">
                <i class="fa fa-search"></i>
                <input class="form-control" id="search" type="search" ng-model="keywords" placeholder="输入名称搜索"/>
            </div>
        </div>
        <div class="col-md-offset-3 col-md-5">
            <div class="pull-right">
                <a href="javascript:void(0)" class="btn vk-btn-empty" ng-click="keywords = ''">清除查询条件</a>
                <button type="button" class="btn btn-primary" ng-click="search()">查询</button>
                <button type="button" class="btn btn-primary" ng-click="open()">新增班次组</button>
            </div>
        </div>
    </div>
    <div class="row table-responsive">
        <table id="shift-group-table" class="table table-bordered table-hover nowrap fl" cellspacing="0">
            <thead>
            <tr>
                <th>班次组名称</th>
                <th width="350">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="newRuleDialog.html">
    <div class="modal-header">
        <h5 class="modal-title">新增班次组</h5>
    </div>
    <div class="modal-body"
         ng-class="{ 'has-error': taskRuleForm.shiftGroupName.$invalid && !taskRuleForm.shiftGroupName.$pristine }"
         ng-form="taskRuleForm">
        <input type="text" name="shiftGroupName" class="form-control" placeholder="输入班次组名称"
               ng-model="newShiftGroup.shiftGroupName"
               required/>
    </div>
    <div class="modal-footer">
        <button class="btn vk-btn-health" type="button" ng-disabled="taskRuleForm.$invalid" ng-click="ok()">确认</button>
        <button class="btn vk-btn-passion" type="button" ng-click="cancel()">取消</button>
    </div>
</script>

<script type="text/ng-template" id="deleteRuleDialog.html">
    <div class="modal-header">
        <h5 class="modal-title">删除班次组</h5>
    </div>
    <div class="modal-body">
        <h5 class="text-danger"><b>确认删除该班次组?</b></h5>
    </div>
    <div class="modal-footer">
        <button class="btn vk-btn-default" type="button" ng-click="ok()">确认</button>
        <button class="btn vk-btn-passion" type="button" ng-click="cancel()">取消</button>
    </div>
</script>