<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div data-common-search-bar data-search-notification="请选择筛询条件后查询" ></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive vk-table-complex">
                <table id="task-incentive-monthly-table" class="table table-bordered display nowrap" cellspacing="0">
                    <thead>
                    <tr>
                        <th>资源编号</th>
                        <th>EHR编号</th>
                        <th>姓名</th>
                        <th>开始时间</th>
                        <th>截止时间</th>
                        <th>公司</th>
                        <th>项目</th>
                        <th>人员子组</th>
                        <th>总积分</th>
                        <th>总兑换收入（元）</th>
                        <th>基本收入（元）</th>
                        <th>提成收入（元）</th>
                        <th>扣减工资比例</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
