
body{font-family:'Microsoft YaHei','SimHei','SimSun',Arial,Helvetica,sans-serif;background:#fafafa;}
.l_jtf{text-align:justify;text-justify:distribute;letter-spacing:-0.4em;}
.l_jtf .ji{line-height:160%;letter-spacing:0px;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.l_jtf .li{line-height:160%;letter-spacing:0px;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.l_jtf .jr{display:inline-block;*display:inline;*zoom:1;letter-spacing:0;vertical-align:top;width:100%;height:0;line-height:0;font-size:0;overflow:hidden;}

.title{font-size:44px;font-weight:600;text-align:center;color:#999999;line-height:50px;margin:33px 0 22px 0;}
.a_rk{width:800px;margin:0 auto;}
.l_rk{background:white;padding:66px 44px 44px 44px;-moz-border-radius:44px;-khtml-border-radius: 44px;-webkit-border-radius: 44px;border-radius: 44px;}
.l_rk *{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.l_rk .li{text-align:center;margin:0px 22px 33px 22px;}
.l_rk .li a{text-decoration:none !important;color:#cccccc;}
.l_rk .li a:hover{color:#aaaaaa;}
.l_rk .li .t{display:block;font-size:16px;}
.l_rk .li .i{margin-bottom:7px;}
.c_copyright{color:#aaaaaa;text-align:center;padding-top:11px;font-size:12px;}
img{border:0;}
