<!doctype html>
<html ng-app="app">
<head>
    <script src="../../angular/angular.js"></script>
    <script>
        angular.module('app', [])
            .controller('DemoController', function ($scope) {
                $scope.rating = 42;
            })
            .directive('rnStepper', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        value: '=ngModel'
                    },
                    template: '<button ng-click="decrement()">-</button>' +
                        '<div>{{ value }}</div>' +
                        '<button ng-click="increment()">+</button>',
                    link: function (scope, iElement, iAttrs) {
                        scope.increment = function () {
                            scope.value++;
                        }
                        scope.decrement = function () {
                            scope.value--;
                        }
                    }
                };
            })
    </script>
</head>
<body ng-app="demo" ng-controller="DemoController">
Model value : {{ rating }}<br>
<div ng-model="rating" rn-stepper></div>
</body>
</html>