@charset "UTF-8";
$headerHeight: 55px;
$callHeight: 55px;
$headerLeftWidth: 340px;
$headerRightWidth: 230px;
$footerHeight: 0;

.wrap {
  height: 100%;
}

.pipe {
  $pipeHeight: 30px;
  float: left;
  margin-top: ($headerHeight - $pipeHeight)/2;
  border-left: 1px solid #000;
  display: inline-block;
  height: $pipeHeight;
  vertical-align: middle;
}

.header {
  // height: $headerHeight;
  background-color: $coBlue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .header-left {
    position: relative;
    float: left;
    width: $headerLeftWidth;
    height: $headerHeight;
    border-right: 1px solid $coBlueGray;
  }
  .header-right {
    float: right;
    text-align: right;
    position: relative;
    width: $headerRightWidth;
    border-left: 1px solid $coBlueGray;
    line-height: $headerHeight;
    height: $headerHeight;
    background-color: $coDeepBlue;
  }
  .header-center {
    position: relative;
    margin-left: $headerLeftWidth+1;
    margin-right: $headerRightWidth+1;
    height: $headerHeight;
    line-height: $headerHeight;
  }
  .pipe {
    border-color: $coBlueGray;
  }
}

.logo {
  color: #FFF;
  height: $headerHeight;
  line-height: $headerHeight - 5;
  text-align: center;
  background-color: $coDeepBlue;
  $imgHeight: 36px;

  img {
    vertical-align: middle;
  }
  em {
    display: inline-block;
    height: $imgHeight;
    border-left: 1px solid $coBlueGray;
    vertical-align: middle;
    margin: 0 20px;
  }
  h1 {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    height: $imgHeight;
    line-height: $imgHeight;
    margin: 0;
  }
}

.header-box {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #494949;
  text-align: left;
  right: 48px;
  top: $headerHeight;
  z-index: 2;

  &.on {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    &:first-child {
      span {
        border-top: none;
      }
    }
    &:last-child {
      span {
        border-bottom: none;
      }
    }
  }
  span {
    padding-left: 18px;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #606060;
    color: #b7b7a9;
  }
}

.header-btns {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 14px;

  .btn {
    background-color: transparent;
    border: none;
    color: #FFF;

    &.on {
      background-color: $coDeepBlue;
    }
  }
  .h-btn {
    color: #FFF;
    float: left;
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    height: $headerHeight;

    &:hover {
      color: #FFF;
    }
    i {
      font-size: 22px;
    }
  }
  .header-user {
    padding-left: 20px;
    width: 98px;
    text-align: left;

    i {
      display: inline-block;
      vertical-align: top;
      width: 20px;
      margin-left: -20px;
    }
    span {
      display: inline-block;
      width: 98px;
      text-align: center;
      @include ellipsis;
    }
  }
}

.content {
  height: 100%;
  padding-top: $headerHeight;
  box-sizing: border-box;
  padding-bottom: $footerHeight;
  position: relative;
}
.content2 {
  height: 100%;
  padding-top: $headerHeight + $callHeight;
  box-sizing: border-box;
  padding-bottom: $footerHeight;
  position: relative;
  overflow: auto;
}

.panel {
  padding: 20px;
}