@charset "UTF-8";

html, body {
  height: 100%;
  overflow: hidden;
  font-size: $fontSize;
  color: #777;
}
input, select, textarea {
  font-size: $fontSize;
}
div, textarea {
  scrollbar-track-color: #FFF;
  scrollbar-face-color: $coLightGray;
  scrollbar-highlight-color: $coLightGray;
  scrollbar-arrow-color: #FFF;
  scrollbar-3dlight-color: $coLightGray;
  scrollbar-shadow-color: $coLightGray;
  scrollbar-darkshadow-color: $coLightGray;
  scrollbar-base-color: $coLightGray;
}
hr {
  margin: 0 0 20px 0;
}
form {
  margin: 0;
}
i, em {
  font-weight: normal;
  font-style: normal;
}
a {
  cursor: pointer;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a.df, a.df:hover, a.df:focus, a.df:active {
  color: $fontColorLight;
}
label.inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 8px;

  input {
    margin-right: 4px;
    margin-top: 0;
  }
}
label.t-radio {
  min-width: 10em;
  padding-left: 0;
  margin-right: 16px;
}
input[readonly], select[readonly], textarea[readonly] {
  cursor: pointer;
}
.container {
  width: auto;
}
.btn {
  background-image: none;
  box-shadow: none;
  // border-color: transparent;
  text-shadow: none;
}
.radio.inline, .checkbox.inline {
  margin-left: 0 !important;
  margin-right: 5px;
}
.nav {
  padding-top: 4px;
  height: 35px;
  padding-left: 20px;
  margin-bottom: 0;
}
.nav-tabs > li {
  border-top: 3px solid transparent;

  & > a {
    border-top: none;
    margin-right: 0;
    color: $fontColorLight;
    min-width: 5em;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 32px;

    &:hover, &:focus {
      background: none;
      border-radius: 0;
      border-top: none;
      border-color: transparent;
    }
  }
  &.active {
    border-top: 3px solid $coBlue;

    a {
      border-top: none;
      border-radius: 0;
      color: $coCyan;

      &:hover, &:focus {
        border-top: none;
        color: $coCyan;
      }
    }
  }
}
.modal {
  top: 160px;
}

/* datepicker */
.WdateDiv {
  .hhMenu, .mmMenu, .ssMenu {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}
* {
  label {
    font-size: $fontSize !important;
  }
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: $fontSize !important;
  }
  label, input, button, select, textarea {
    font-size: $fontSize;
  }
}
.add-on {
  font-size: $fontSize !important;
}
.btn {
  font-size: $fontSize !important;
}