@charset "UTF-8";

.search_layout {
  margin: 0 8px;
  padding: 4px 0;
  overflow-y: hidden;
  overflow-x: hidden;

  /* 查询条件区域 */
  .form_layout {
    border: 1px solid #F4F4F4;
    padding: 4px 0;
    background-color: #F9F9F9;

    #task, .task {
      margin: 0px;

      hr {
        border: 0px;
        border-top: 1px dotted #ddd;
      }
      th {
        width: 8%;
        border: 0px;
        text-align: right;
        line-height: 0px;
        min-height: 0px;

        label {
          text-overflow: clip;
          overflow: hidden;
          white-space: nowrap;
          font-size: $fontSize;
          margin: 0px;
          color: #A0A0A0;
        }
      }
      td {
        width: 25%;
        padding: 3px;
        border: 0px;
        line-height: 0px;
        min-height: 0px;
        vertical-align: middle;

        .businesstype-select {
          width: auto;
        }
      }
      .alignBottom {
        vertical-align: bottom;
      }
      .alignTop {
        vertical-align: top;
      }
      .alignMiddle {
        vertical-align: middle;
      }
    }
    input, select {
      padding: 3px 5px;
      margin: 0px;
      font-size: $fontSize;
      border: 1px solid #ddd;
      outline: none;
    }
    .input1 {
      width: 86px;
    }
    .input2 {
      width: 206px;
    }
    .select2 {
      width: 220px;
    }
    .notice-forms-btns {
      text-align: right;
    }
    .autocomplete-min {
      width: 220px;
      position: relative;

      .autocomplete-min-box {
        position: absolute;
        background-color: #FFF;
        left: 0;
        right: 0;
        border: 1px solid $coLightBlue;
        max-height: 160px;
        overflow-y: auto;
      }
      .autocomplete-min-tip {
        line-height: 26px;
        text-align: center;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        list-style: none;
        line-height: 26px;
        text-indent: 1em;
        cursor: pointer;

        &:hover {
          background-color: #FBFBFB;
        }
      }
    }
  }
}

/* 功能操作按钮区域 */
.operation_btns {
  padding: 6px 0;
  overflow: hidden;

  a {
    margin: 0 0 0 4px;
  }
  ul {
    list-style: none;
    margin: 0 0 0 -2px;

    li {
      float: left;
      padding: 6px 16px;
      text-align: center;
      color: white;
      cursor: pointer;
      background-color: #488fd1;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
    }
    li:hover {
      background-color: #4180bc;
    }
  }
}

.right {
  text-align: right;
}

.none {
  display: none;
}

/* 列表展示区 */
.notice-list {
  overflow: auto;

  .noticelist-summary {
    display: block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table {
    width: 100%;
    max-width: 200%;
    min-width: 100%;
    margin: 0;

    thead {
      tr {
        background-color: #eee;
      }
    }
    tbody {
      a {
        margin: 4px;
      }
      tr:hover {
        background-color: #ddd;
      }
    }
  }
}

.list-max {
  width: 130% !important;
}

/* 分页 */
.pagination {
  margin: 8px 0;
  height: 30px;
}

/* 统计信息 */
.total {
  padding: 6px;
  margin: 10px;
  float: right;

  b {
    color: cadetblue;
    margin: 0 5px;
  }
}