@charset "UTF-8";
.callctrl {
    position: fixed;
    top: $headerHeight;
    height: $callHeight;
    width: 100%;
    background-color: $coGray;
    border-bottom: 1px solid $coDeepGray;
    $callCtrlWidth: 340px;
    $stateWidth: 66px;
    $phoneWidth: 140px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    .pipe {
        border-color: $coDeepGray;
    }
    .callctrl-info {
        float: left;
        width: $callCtrlWidth;
    }
    .callctrl-state {
        font-size: 40px;
        width: $stateWidth;
        line-height: $callHeight;
        float: left;
        text-align: right;
    }
    .callctrl-phone {
        float: left;
        width: $phoneWidth;
        padding-top: 10px;
        text-align: center;
        span {
            display: block;
        }
        .callctrl-number {
            font-size: 16px;
        }
        .callctrl-address {
            font-size: 14px;
        }
    }
    .callctrl-time {
        margin-left: $stateWidth + $phoneWidth;
        line-height: $callHeight;
        text-align: center;
        font-size: 16px;
    }
    .callctrl-btns {
        font-size: 16px;
        line-height: $callHeight;
        text-align: right;
        padding-right: 20px;
        input {
            margin-bottom: 0;
        }
        & > .btn {
            position: relative;
            color: $fontColorLight;
            padding: 0;
            & > span {
                display: inline-block;
                padding: 4px 7px;
            }
        }
        margin-left: $callCtrlWidth;
    }
    .active {
        .callctrl-state {
            color: $coGreen;
        }
        .callctrl-number {
            color: $coGreen;
        }
        .callctrl-time {
            span {
                color: $coPinkRed;
            }
        }
    }
}
.c-tipbox {
    display: none;
    position: absolute;
    $spanWidth: 56px;
    $arrowWidth: 10px;
    top: 40px;
    text-align: left;
    background-color: $coBlue;
    color: #FFF;
    z-index: 200;
    &:before {
        content: "";
        display: block;
        width: 0;
        margin-top: -2*$arrowWidth;
        margin-left: auto;
        margin-right: auto;
        border: $arrowWidth solid transparent;
        border-bottom-color: $coBlue;
    }
    .c-tipbox-content {
        cursor: auto;
        padding: 10px;
    }
    &.cbtns-list {
        $width: 120px;
        width: $width;
        left: -($width - $spanWidth)/2;
        ul {
            list-style: none;
            color: #FFF;
            margin: 0;
            padding: 0;
        }
        li {
            line-height: 36px;
        }
    }
    &.cbtns-phonenumber {
        $width: 220px;
        width: $width;
        // left: -($width - $spanWidth)/2;
        right: 0;
        &:before {
            margin-right: 25px;
        }
    }
    &.cbtns-login {
        $width: 210px;
        width: $width;
        left: -($width - $spanWidth)/2;
    }
    a {
        color: #FFF;
        padding: 0 10px;
        display: block;
        i {
            color: #FFF;
        }
        &:hover {
            background-color: #56A7F3;
        }
    }
    em {
        margin-right: 4px;
    }
}
