<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="bingo.*" />

	<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer" class="bingo.integration.spring.PropertyPlaceholderConfigurer">
		<property name="dao" value="sysDao"></property>
		<property name="dataSource" value="sysDataSource"></property>
		<property name="propertiesPersister">
			<bean class="bingo.common.core.spring.SpringPropertiesPersister"></bean>
		</property>
		<property name="locations">
			<list>
				<value>classpath*:config/**/*.xml</value>
			</list>
		</property>
	</bean>

	<bean id="DictionaryService" class="bingo.vkcrm.service.service.DictionaryService"/>
	<bean id="DictionaryCacheInit" class="bingo.vkcrm.service.service.DictionaryService" init-method="init2Cache"
		  lazy-init="false"></bean>

	<!--定时任务-->
	<task:scheduler id="taskScheduler" pool-size="10"/>
	<task:annotation-driven scheduler="taskScheduler" mode="proxy"/>
	<task:scheduled-tasks>
		<!-- 测试:每小时清理一次缓存 -->
		<task:scheduled ref="DictionaryService" method="cleanCache" cron="0 30 * * * *"/>
	</task:scheduled-tasks>

</beans>