/* tips */
.tips-box {
  position: fixed;
  bottom: 0;
  right: 0;
  $width: 500px;
  width: $width;
  z-index: 10000;

  .tip {
    position: relative;
    border-width: 1px;
    border-style: solid;
  }
  .tip-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
  }
  .tip-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }
  .tip-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
  }
  .tip-warning {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #806029;
  }
  .tip-close {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
      content: "\e628";
      @include iconfont;
    }
  }
  .tip-content {
    padding: 8px 8px 8px 22px;
  }
}

i.errortip, em.errortip {
  visibility: hidden;
  vertical-align: middle;
  color: $coRed;

  &:before {
    font-size: 26px;
  }
  &.on {
    visibility: visible;
  }
}