body {
  background: #fcfdfe url(../img/login/login.gif) repeat-x;
}

.login {
  position: absolute;
  width: 503px;
  height: 352px;
  background: url(../img/login/loginPanel.png) no-repeat;
  left: 50%;
  top: 0;
  margin: 172px 0 0 -250px;
}

.login-form {

  h1 {
    height: 50px;
    margin-top: 25px;
    padding-left: 160px;
    color: #36c;
    font-size: 30px;
    margin-bottom: 5px
  }
  .errorMsg {
    height: 20px;
    line-height: 20px;
    margin-left: 160px;
    color: red;
    margin-bottom: 10px
  }

  .input-group {
    margin-bottom: 4px;

    label {
      display: inline-block;
      width: 160px;
      text-align: right;
    }

    input {
      width: 240px;
    }

    button {
      margin-right: 20px;
    }

    .btn-login {
      margin-left: 175px;
      width: 80px;
    }
  }
}