<div class="height" id="ms_task" ms-controller="contenttask">
    <div class="container">
        <ul class="nav nav-tabs task-tabs">
            <li ms-class="active:visibleIndex=='tasklist'" ms-click="show('tasklist')"><a><span>任务查询</span></a></li>
            <li ms-class="active:visibleIndex=='taskinfo'" ms-click="show('taskinfo')"><a><span>任务详情</span></a></li>
            <li ms-class="active:visibleIndex=='taskquery'" ms-click="show('taskquery')"><a><span>客户与房屋信息查询</span></a></li>
            <li ms-class="active:visibleIndex=='taskinput'" ms-click="show('taskinput')"><a><span>任务新增</span></a></li>
        </ul>
        <div class="tab task-tab" ms-visible="visibleIndex=='tasklist'" ms-include-src="src_tasklist"></div>
        <div class="tab task-tab scrollable" ms-visible="visibleIndex=='taskinfo'" ms-include-src="src_taskinfo"></div>
        <div class="tab task-tab" ms-visible="visibleIndex=='taskinput'" ms-include-src="src_taskinput"></div>
        <div class="tab task-tab" ms-visible="visibleIndex=='taskquery'" ms-include-src="src_taskquery"></div>
    </div>
</div>