body {
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/grid_bg_8eaa30f.png) 0 0 repeat
}

.nav_bar {
    width: 903px;
    margin: 0 auto;
    height: 80px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/nav_bg_f8e0e3f.png) no-repeat
}

.nav_bar > div {
    float: left
}

.nav_bar .now {
    color: #00f
}

.left_panel {
    width: 370px;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 2
}

.left_panel h3,
.config_panel h3 {
    background-color: #f6f8fa;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 5px 5px 0 0;
    color: #71767b;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-indent: 15px
}

.cpt_panel h3 {
    display: -moz-box;
    display: -webkit-box;
    display: box
}

.left_panel .page_panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(200, 200, 200, 1)
}

.page_panel .panel_title span {
    width: 12px;
    height: 12px;
    background-position: 0 0;
    float: right;
    margin: 11px 15px 0 0;
    cursor: pointer
}

.page_panel .panel_title span:hover {
    background-position: -13px 0
}

.page_panel ul {
    width: 100%;
    height: 148px;
    background-color: #fff;
    overflow-y: auto
}

#page_list li em {
    float: right;
    margin: 11px 15px 0 0;
    cursor: pointer;
    display: none
}

#page_list li em.p_icon {
    background-position: 0 -55px;
    width: 13px;
    height: 9px;
    float: left;
    display: block;
    margin: 14px 0 0 10px
}

#page_list li em.p_icon:hover {
    background-position: -14px -55px
}

#page_list li.p_switch:hover em,
#page_list li.p_active:hover em {
    display: block
}

#page_list li span.p_title {
    width: 245px;
    color: #a4a9ae;
    margin-left: 15px;
    float: left
}

#page_list li.p_switch:hover em.p_up,
#page_list li.p_active:hover em.p_up {
    background-position: 0 -39px;
    width: 8px;
    height: 15px
}

#page_list li.p_switch:hover em.p_up:hover,
#page_list li.p_active:hover em.p_up:hover {
    background-position: -8px -39px
}

#page_list li.p_switch:hover em.p_del,
#page_list li.p_active:hover em.p_del,
.close_pop {
    background-position: 0 -13px;
    width: 10px;
    height: 10px;
    margin-top: 13px
}

#page_list li.p_switch:hover em.p_del:hover,
#page_list li.p_active:hover em.p_del:hover,
.close_pop:hover {
    background-position: -11px -13px
}

#page_list li.p_switch:hover em.p_copy,
#page_list li.p_active:hover em.p_copy {
    background-position: 0 -24px;
    width: 15px;
    height: 14px
}

#page_list li.p_switch:hover em.p_copy:hover,
#page_list li.p_active:hover em.p_copy:hover {
    background-position: -16px -24px
}

.all_cpt {
    height: 409px;
    background-color: #fff;
    position: relative
}

.all_cpt .cpt_box {
    width: 1472px;
    position: absolute;
    top: 0;
    left: 0
}

.all_cpt .cpt_box > div {
    width: 368px;
    float: left
}

#channel_tpl .all_cpt {
    height: 560px
}

.left_panel .cpt_panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 444px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
    margin-top: 9px
}

.cpt_panel h4 {
    width: 100%;
    background-color: #fcfcfc;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f7f7f7;
    height: 31px;
    line-height: 31px;
    box-shadow: 0 2px 2px #f5f5f5 inset;
    color: #a4a9ae;
    clear: both;
    text-align: center;
    margin-top: 14px;
    float: left;
    font-size: 14px
}

.cpt_panel h4:first-child {
    border-top: 0;
    box-shadow: 0;
    margin-top: 0
}

.cpt_panel h3 > div.common,
.cpt_panel h3 > div.anchor {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-indent: 0;
    text-align: center;
    cursor: pointer;
    color: #71767b;
    font-size: 14px;
    font-family: '宋体';
    position: relative
}

.cpt_panel h3 > div > em {
    width: 10px;
    height: 5px;
    position: absolute;
    bottom: -1px;
    left: 45%;
    display: none;
    background-repeat: no-repeat;
}

.cpt_panel h3 > div.anchor > em {
    display: inline-block
}

.cpt_panel h3 > div.common.ban {
    cursor: default;
    color: #ccc
}

.cpt_panel h3 > div.anchor {
    color: #5d9cec;
    cursor: default;
    font-size: 16px
}

.core_cpt,
.whole_cpt,
.whole_cpt .edit_cpt {
    overflow: hidden
}

.all_cpt .cpt_box > div.cpt-tpp,
.all_cpt .cpt_box > div.core_cpt {
    height: 409px;
    overflow-y: auto
}

.whole_cpt .edit_cpt {
    display: none
}

#core_plugin {
    display: none
}

.cpt_panel .cpt_item {
    float: left;
    width: 25%;
    height: 74px;
    margin-top: 14px
}

.whole_cpt .cpt_item {
    height: auto;
    position: relative
}

.cpt_panel .cpt_item > strong {
    width: 23px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 9px;
    display: none;
    background-repeat: no-repeat;
}

.cpt_panel .cpt_item > button.switch_on + strong {
    display: block
}

.cpt_panel .show_tips {
    border-top: 1px solid #dfdfdf;
    color: #a4a9ae;
    float: left;
    clear: none;
    margin-top: 8px;
    padding: 7px 16px 0;
    line-height: 20px;
    font-family: '宋体';
    text-indent: 16px;
    display: none;
    background-repeat: no-repeat;
}

.cpt_item .switch_btn {
    width: 12px;
    height: 12px;
    margin: 3px auto 0;
    position: relative;
    border: 1px solid #d1d4d6
}

.switch_btn > input[type=checkbox] {
    position: relative;
    top: -4px;
    visibility: hidden
}

.switch_btn label {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer
}

.switch_btn label:after {
    width: 7px;
    height: 4px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-bottom: 2px solid #5D9CEC;
    border-left: 2px solid #5D9CEC;
    content: '';
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.switch_btn > input[type=checkbox]:checked + label:after {
    opacity: 1
}

.whole_cpt .up_cpt {
    position: absolute;
    width: 74px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(102, 102, 102, .8);
    top: 43px;
    color: #fff;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
    cursor: pointer;
    display: none
}

.cpt_panel .cpt_item .up_cpt em {
    background-position: -16px -39px;
    width: 8px;
    height: 15px;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px
}

.whole_cpt .cpt_node {
    cursor: default;
    position: relative
}

.whole_cpt .cpt_node:hover .up_cpt {
    display: block
}

.core_cpt .cpt_item:last-child,
.whole_cpt .cpt_item:last-child {
    margin-bottom: 14px
}

.cpt_node,
.cpt_node.cpt_drag {
    width: 74px;
    height: 74px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/cpt_bg_893a4a8.png) no-repeat;
    background-position: 0 0;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.cpt_node.cpt_drag {
    z-index: 200
}

.cpt_panel,
.cpt_node.cpt_drag {
    background-position: 0 -75px
}

.cpt_panel .cpt_item em,
.cpt_node.cpt_drag em {
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/cpt_icon_d5a071b.png) no-repeat;
    width: 28px;
    height: 31px;
    display: inline-block;
    margin-top: 9px
}

.cpt_panel .cpt_item > button {
    width: 64px;
    height: 24px;
    line-height: 23px;
    border-radius: 2px;
    border: 1px solid #dedede;
    text-align: center;
    background-color: #f7f6f6;
    color: #71767b;
    display: block;
    margin: 9px auto 0;
    font-size: 14px
}

.cpt_panel .cpt_item > button.switch_on {
    border: 1px solid #3e9730;
    background-color: #56a845;
    color: #fff
}

.cpt_node em {
    background-position-x: 0
}

.cpt_node.cpt_drag em {
    background-position-x: -55px !important
}

.cpt_node em.pic,
.cpt_node.cpt_drag em.pic {
    width: 28px;
    background-position: 0 -31px
}

.cpt_node em.slide,
.cpt_node.cpt_drag em.slide {
    width: 34px;
    background-position: 0 -62px
}

.cpt_node em.text,
.cpt_node.cpt_drag em.slide {
    width: 32px;
    background-position: 0 -93px
}

.cpt_node em.phone,
.cpt_node.cpt_drag em.phone {
    width: 23px;
    background-position: 0 -124px
}

.cpt_node em.list,
.cpt_node.cpt_drag em.list {
    width: 28px;
    background-position: 0 -156px
}

.cpt_node em.form,
.cpt_node.cpt_drag em.form {
    background-position: 0 -187px
}

.cpt_node em.enjoy,
.cpt_node.cpt_drag em.enjoy {
    width: 29px;
    background-position: 0 -218px
}

.cpt_node em.map,
.cpt_node.cpt_drag em.map {
    width: 32px;
    background-position: 0 -248px
}

.cpt_node em.message,
.cpt_node.cpt_drag em.messag {
    width: 30px;
    background-position: 0 -279px
}

.cpt_node em.title,
.cpt_node.cpt_drag em.title {
    width: 25px;
    background-position: 0 -311px
}

.cpt_node em.link,
.cpt_node.cpt_drag em.link {
    width: 32px;
    background-position: 0 -342px
}

.cpt_node em.html,
.cpt_node.cpt_drag em.html {
    width: 55px;
    background-position: 0 -373px
}

.cpt_node em.layout,
.cpt_node.cpt_drag em.layout {
    width: 30px;
    background-position: 0 -404px
}

.cpt_node em.tab,
.cpt_node.cpt_drag em.tab {
    width: 30px;
    background-position: 0 -435px
}

.cpt_node em.tongji,
.cpt_node.cpt_drag em.tongji {
    width: 31px;
    background-position: 0 -466px
}

.cpt_node em.ecom,
.cpt_node.cpt_drag em.ecom {
    width: 44px;
    background-position: 0 -497px
}

.cpt_node em.table,
.cpt_node.cpt_drag em.table {
    width: 30px;
    background-position: 0 -528px
}

.cpt_node em.lottery,
.cpt_node.cpt_drag em.lottery {
    width: 28px;
    background-position: 0 -558px
}

.cpt_node em.contact,
.cpt_node.cpt_drag em.contact {
    width: 31px;
    background-position: 0 -624px
}

.cpt_node em.cover1,
.cpt_node.cpt_drag em.cover1 {
    width: 25px;
    height: 36px;
    background-position: 0 -589px;
    margin-top: 7px
}

.cpt_node em.cover2,
.cpt_node.cpt_drag em.cover2 {
    width: 25px;
    height: 36px;
    background-position: 0 -654px;
    margin-top: 7px
}

.cpt_node em.cover3,
.cpt_node.cpt_drag em.cover3 {
    width: 25px;
    height: 36px;
    background-position: 0 -690px;
    margin-top: 7px
}

.cpt_node em.cover4,
.cpt_node.cpt_drag em.cover4 {
    width: 25px;
    height: 35px;
    background-position: 0 -973px;
    margin-top: 7px
}

.cpt_node em.cover5,
.cpt_node.cpt_drag em.cover5 {
    width: 25px;
    height: 35px;
    background-position: 0 -1008px;
    margin-top: 7px
}

.cpt_node em.cover6,
.cpt_node.cpt_drag em.cover6 {
    width: 25px;
    height: 35px;
    background-position: 0 -1048px;
    margin-top: 7px
}

.cpt_node em.cover_poster,
.cpt_node.cpt_drag em.cover_poster {
    width: 25px;
    height: 35px;
    background-position: 0 -1088px;
    margin-top: 7px
}

.cpt_node em.gallery,
.cpt_node.cpt_drag em.gallery {
    width: 30px;
    background-position: 0 -756px
}

.cpt_node em.hr,
.cpt_node.cpt_drag em.hr {
    width: 37px;
    background-position: 0 -725px
}

.cpt_node em.vote,
.cpt_node.cpt_drag em.vote {
    width: 29px;
    background-position: 0 -787px
}

.cpt_node em.comment,
.cpt_node.cpt_drag em.comment {
    width: 30px;
    background-position: 0 -818px
}

.cpt_node em.favor,
.cpt_node.cpt_drag em.favor {
    width: 32px;
    background-position: 0 -849px
}

.cpt_node em.feedback,
.cpt_node.cpt_drag em.feedback {
    width: 30px;
    background-position: 0 -880px
}

.cpt_node em.video,
.cpt_node.cpt_drag em.video {
    width: 30px;
    background-position: 0 -911px
}

.cpt_node em.button,
.cpt_node.cpt_drag em.button {
    width: 43px;
    background-position: 0 -942px
}

.cpt_node em.goods,
.cpt_node.cpt_drag em.goods {
    width: 30px;
    background-position: 0 -1127px;
    margin-left: 4px
}

.cpt_node em.search,
.cpt_node.cpt_drag em.search {
    width: 28px;
    background-position: 0 -1160px
}

.cpt_node em.classification,
.cpt_node.cpt_drag em.classification {
    width: 27px;
    background-position: 0 -1194px
}

.cpt_node em.subject,
.cpt_node.cpt_drag em.subject {
    width: 30px;
    background-position: 0 -1232px
}

.cpt_node em.location,
.cpt_node.cpt_drag em.location {
    width: 28px;
    background-position: 0 -1264px
}

.cpt_node em.shop,
.cpt_node.cpt_drag em.shop {
    width: 32px;
    background-position: 0 -1296px
}

.cpt_item span,
.cpt_node.cpt_drag span {
    display: block;
    text-align: center;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    margin-top: -5px;
    overflow: hidden
}

.cpt_node.cpt_drag span {
    color: #fff
}

#main_body .show_panel,
#channel_tpl .show_panel {
    margin: 0 auto;
    overflow: hidden;
    min-height: 455px
}

.app_title {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height: 44px;
    overflow: hidden;
    margin-bottom: -1px
}

.guid_layer {
    width: 250px;
    height: 149px;
    position: absolute;
    top: 301px;
    left: 342px;
    display: none;
    z-index: 999;
    background-repeat: no-repeat;
}

.close_guid_layer {
    width: 11px;
    height: 11px;
    float: right;
    margin: 103px 9px 0 0;
    cursor: pointer
}

.show_panel .cpt_show,
.cover_container .cpt_show {
    border: 1px solid transparent;
    cursor: move;
    position: relative;
    margin-top: 2px
}

.show_panel .cpt_show.cpt_global,
.cover_container .cpt_show {
    cursor: pointer
}

.cover_container .cpt_show {
    height: 498px
}

.cover_container .cpt_body,
.cover_container .cpt_cover,
.cover_container iframe {
    width: 100%;
    height: 498px !important
}

.show_panel .cpt_post {
    border-bottom-color: #cfd3d6;
    background-color: #e9eef2
}

.show_panel .cpt_border,
.cover_container .cpt_border {
    border: 1px dashed #3498db
}

.show_panel .cpt_body iframe {
    height: 0
}

.show_panel .lay_body,
.lay_body .lay_con {
    width: 100%;
    min-height: 85px
}

.lay_body .lay_con > div {
    width: 50%;
    min-height: 85px;
    height: 100%;
    float: left
}

.lay_body .lay_icon {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: e-resize;
    z-index: 3;
    background-repeat: no-repeat;
}

.lay_icon > span {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -13px 0 0 -3px;
    width: 7px;
    height: 25px
}

.lay_icon > span i:first-child {
    position: absolute;
    left: -10px;
    top: 9px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent #5d9cec transparent transparent
}

.lay_icon > span i:last-child {
    position: absolute;
    right: -10px;
    top: 9px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent #5d9cec
}

.show_panel .tab_body {
    width: 100%;
    height: 100%
}

.tab_body .tab_head {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    font-size: 14px;
    overflow: hidden;
    background-color: rgba(1, 106, 183, .15);
    color: #016ab7;
    font-family: '宋体';
    color: #71767b;
    border-top: 1px solid rgba(1, 106, 183, .6)
}

.tab_head li {
    width: 50%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    cursor: pointer
}

.tab_head li.cur {
    cursor: move;
    border-bottom: 4px solid #016ab7;
    color: #016ab7
}

.tab_body .tab_list {
    width: 100%;
    min-height: 110px;
    background-color: #fff;
    padding-bottom: 20px
}

.tab_list li {
    width: 100%;
    height: 100%;
    min-height: 110px;
    display: none
}

.tab_list li.tab_active {
    display: block
}

.show_panel > iframe {
    display: none
}

.cell_body .cpt_show.active {
    border: 1px dashed #3498db
}

.show_panel .cpt_show .del_btn {
    width: 13px;
    height: 13px;
    background-position: 0 -111px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: none;
    z-index: 1
}

.cpt_cover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.app_title .cpt_cover {
    height: 44px
}

.index_panel {
    width: 102px;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -51px;
    overflow: hidden
}

.index_panel a {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: -moz-linear-gradient(top, #5d9cec, #488add);
    background: -webkit-linear-gradient(top, #5d9cec, #488add);
    border: 1px solid #3b74bc;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    float: left
}

.index_panel a:hover,
.pop_body button:hover {
    opacity: .9
}

.index_panel .cancel_edit {
    width: 70px;
    background-color: #d0d4d9;
    margin: 0
}

.hr_cpt {
    margin: 0 8px;
    border: 1px dashed #e0e0e0
}

.hr_left,
.hr_right {
    width: 17px;
    height: 17px;
    top: 20%;
    cursor: e-resize
}

.hr_right {
    right: 0
}

.hr_left {
    left: 0
}

.hr_adjust {
    width: 17px;
    height: 17px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/drag_icon_8ed01fa.png) no-repeat -17px 0;
    position: absolute;
    display: block
}

.hr_line_1 {
    margin: 11px 0 !important
}

.hr_line_2 {
    margin: 0 !important
}

.hr_line > div.style1,
.hr_line > div.style2 {
    width: 100%;
    height: 0;
    overflow: hidden;
    border-top: 2px solid #f1f1f1
}

.hr_line > div.style2 {
    border-top-style: dashed
}

.hr_line > div.style3,
.hr_line > div.style4 {
    width: 100%;
    height: 19px;
    background-color: #f1f1f1;
    border-top: 1px solid #e8e8e8;
    box-shadow: 0 2px 0 #ebeaea inset
}

.hr_line > div.style4 {
    box-shadow: none;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

.show_panel .cpt_show.text_tpl:hover .del_btn {
    display: none
}

.config_panel {
    width: 365px;
    height: 636px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 0;
    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
    overflow: hidden
}

.config_panel .cpt_switch {
    display: none
}

#channel_tpl .config_panel {
    height: 600px
}

.config_panel .config_item {
    width: 100%;
    height: 600px;
    position: relative
}

.config_panel > dl {
    border-bottom: 1px solid #dfdfdf;
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #71767b;
    display: none
}

.config_panel > dl.config_switch_on,
.config_panel > dl.config_switch_off {
    display: block
}

#channel_tpl .config_panel .config_item,
.config_panel > dl.config_switch_on ~ div.config_item,
.config_panel > dl.config_switch_off ~ div.config_item {
    height: 564px
}

.config_panel > dl > dt {
    width: 4px;
    height: 24px;
    background-color: #094;
    float: left;
    margin: 6px 11px 0 0
}

.config_panel > dl.config_switch_off > dt {
    background-color: #999
}

.config_panel > dl > dd {
    float: left
}

.config_panel > dl > dd.s_on,
.config_panel > dl > dd.s_off {
    width: 64px;
    height: 24px;
    border-radius: 3px;
    margin: 5px 15px 0 0;
    float: right;
    cursor: pointer;
    display: none
}

.config_panel > dl.config_switch_on > dd.s_on {
    border-top: 1px solid #37872a;
    border-bottom: 1px solid #55a644;
    border-left: 1px solid #4d9e3d;
    border-right: 1px solid #4d9e3d;
    display: block
}

.config_panel > dl.config_switch_off > dd.s_off {
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #999;
    border-left: 1px solid #929292;
    border-right: 1px solid #929292;
    display: block
}

.config_panel dd.s_on > span,
.config_panel dd.s_off > span {
    width: 35px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff
}

.config_panel > dl.config_switch_on > dd.s_on > span {
    background-color: #55a644;
    box-shadow: 0 2px 2px #3e8f30 inset;
    float: left
}

.config_panel > dl.config_switch_off > dd.s_off > span {
    background-color: #999;
    box-shadow: 0 2px 2px #858585 inset;
    float: right
}

.config_item .tips {
    width: 100%;
    color: #a4a9ae;
    text-align: center;
    position: absolute;
    top: 50%
}

.config_item iframe {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1
}

#edit_name {
    margin: 4px 0 0 13px;
    float: left
}

.p_edit > span {
    float: left;
    margin-left: 5px;
    line-height: 39px
}

#add_channel {
    text-align: center
}

.place_holder,
.lay_place_holder {
    width: 100%;
    height: 47px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/drop_icon_a8e9a20.png) no-repeat center center #bcd;
    margin: 0 auto
}

.lay_place_holder,
.lay_forbid_holder {
    height: 85px
}

.lay_forbid_holder {
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/forbid_icon_af95a5b.png?) no-repeat center center #ee534f;
    opacity: .7
}

#save_tips {
    width: 280px;
    height: 0;
    background-color: #56a845;
    border-radius: 3px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 72px;
    display: none
}

#save_tips > div {
    width: 280px;
    color: #fff;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-family: '微软雅黑';
    background-repeat: no-repeat;
}

.set_app_style {
    width: 103px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 18px;
    background-repeat: no-repeat;
}

#app_style {
    width: 100%;
    height: 562px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 35px;
    display: none
}

#app_style > h3 {
    font-size: 12px;
    color: #a4a9ae;
    background-color: #fff;
    border: 0;
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #dfdfdf
}

#app_style > h3.last {
    padding-top: 16px
}

#app_style ul {
    margin: 0 0 0 15px;
    overflow: hidden
}

#theme_style li {
    width: 42px;
    float: left;
    margin: 17px 16px 4px 0;
    cursor: pointer;
    border-radius: 3px;
    position: relative
}

#theme_style li img {
    position: absolute;
    top: 22px;
    left: 15px
}

#theme_style li span {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: block;
    border-radius: 20px
}

#theme_style li[data="#00a3e7"] span {
    background-color: #00a3e7
}

#theme_style li[data="#5e7489"] span {
    background-color: #5e7489
}

#theme_style li[data="#2dbb69"] span {
    background-color: #2dbb69
}

#theme_style li[data="#2eb6aa"] span {
    background-color: #2eb6aa
}

#theme_style li[data="#222a2e"] span {
    background-color: #222a2e
}

#theme_style li[data="#1e75c9"] span {
    background-color: #1e75c9
}

#theme_style li[data="#7f30b7"] span {
    background-color: #7f30b7
}

#theme_style li[data="#e700b6"] span {
    background-color: #e700b6
}

#theme_style li[data="#f22857"] span {
    background-color: #f22857
}

#theme_style li[data="#d44a47"] span {
    background-color: #d44a47
}

#theme_style li[data="#ff7800"] span {
    background-color: #ff7800
}

#theme_style li[data="#ff9a00"] span {
    background-color: #ff9a00
}

#match_style li {
    width: 106px;
    height: 156px;
    float: left;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 17px 7px 0 0;
    cursor: pointer;
    background-repeat: no-repeat;
}

#match_style li.focus {
    border-color: #0596fb
}

#match_style h4 {
    width: 102px;
    height: 14px;
    margin: 2px auto 0;
    text-align: center;
    font-family: '黑体'
}

#match_style h4 span {
    -webkit-transform: scale(0.6);
    line-height: 14px;
    display: block;
    width: 100%
}

#match_style li > div {
    width: 102px;
    height: 31px;
    margin: 0 auto
}

#match_style li > div span {
    width: 25px;
    float: left;
    height: 10px;
    line-height: 10px
}

#match_style li > div span.last_nav {
    width: 30px;
    float: right
}

#match_style li > div span em {
    -webkit-transform: scale(0.4);
    text-align: center;
    display: block;
    width: 100%;
    white-space: nowrap
}

#match_style li > div strong {
    width: 1px;
    float: left;
    height: 4px;
    background-color: #f4f4f4
}

#match_style li button {
    width: 86px;
    height: 10px;
    background-color: #00a3e7;
    border-radius: 1px;
    margin: 90px auto 0;
    display: block
}

#match_style li[data="1"] h4 {
    background-color: #00a3e7;
    color: #fff
}

#match_style li[data="1"] div {
    background-color: #fff;
    color: #00a3e7
}

#match_style li[data="2"] h4,
#match_style li[data="2"] div {
    background-color: #00a3e7;
    color: #fff
}

#match_style li[data="3"] {
    margin-right: 0;
    background-color: #fff;
    color: #00a3e7
}

.main_zhida {
    margin: 75px auto 0
}

#header_panel {
    top: 0 !important;
    bottom: auto
}

.header_panel .main_header {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 5px;
    height: 44px;
    border-top: #e8e8e8 solid 1px;
    border-bottom: #e8e8e8 solid 1px
}

.header_panel .edit_map {
    float: left
}

.header_panel .edit_map li {
    display: inline-block;
    font: 16px/1 'Microsoft Yahei', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    color: #a6a6a6;
    font-weight: 700
}

.edit_map em {
    padding: 1px 7px;
    border-radius: 15px;
    background-color: #a6a6a6;
    text-align: center;
    color: #fff
}

.edit_map li.current {
    color: #498bfc
}

.edit_map li.current em {
    background-color: #498bfc;
    font-weight: 400
}

.edit_map li span {
    font: 16px/1 sans-serif
}

.edit_map li.tip_help {
    position: relative;
    margin-left: 12px;
    padding-bottom: 2px;
    border-bottom: #a6a6a6 dashed 1px;
    cursor: pointer
}

.edit_map li.tip_help:hover {
    color: #4682ea;
    border-bottom: #4682ea dashed 1px
}

.edit_map li.tip_help .tipbox {
    position: absolute;
    top: 30px;
    left: -100px;
    padding: 10px 12px;
    width: 240px;
    border: #c3c3c3 solid 1px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
    color: #333;
    font-size: 12px;
    line-height: 22px;
    z-index: 15;
    display: none
}

.edit_map li.tip_help .tipbox_top,
.edit_map li.tip_help .tipbox_top:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.edit_map li.tip_help .tipbox_top {
    top: -8px;
    left: 50%;
    border-bottom-color: rgba(0, 0, 0, .25);
    border-width: 8px;
    border-top-width: 0
}

.edit_map li.tip_help .tipbox_top:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #fff;
    content: "";
    border-width: 10px;
    border-top-width: 0
}

.edit_map .tipbox h4.tip_title {
    font-size: 14px;
    line-height: 22px;
    color: #333
}

.edit_map .tipbox a {
    color: #4682ea;
    text-decoration: underline;
+
}

.header_panel .content_bar {
    position: absolute;
    left: 50%;
    margin-left: -145px;
    top: 6px;
    width: 290px;
    z-index: 10
}

.header_panel .cont_manage {
    float: left;
    height: 32px;
    display: none
}

.header_panel .link_btn,
#dialogMask .link_btn {
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    border-radius: 2px;
    font: 14px/32px '宋体';
    font-weight: 700;
    background-color: #4682ea;
    color: #fff
}

.header_panel .content_bar .link_manage {
    display: block
}

.content_bar .link_btn:hover {
    background-color: #3873d9
}

.content_bar .plugin {
    float: right;
    padding: 0;
    width: 136px;
    height: 32px;
    display: none
}

.content_bar dl {
    border-radius: 2px;
    background-color: #4682ea
}

.content_bar dt.link_btn {
    display: block;
    width: 96px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/manage_icon_cdc715a.png) 110px 15px no-repeat #4682ea
}

.cont_manage dt.link_btn {
    width: 70px;
    background-position: 84px 15px
}

.content_bar dd {
    display: none
}

.content_bar dd a.link_btn {
    display: block;
    width: 100%;
    padding: 0;
    text-indent: 20px
}

.content_bar dt:hover,
.content_bar dd a:hover {
    background-color: #3873d9
}

.header_panel .btn_bar {
    float: right;
    width: 354px
}

.btn_bar > a:first-child {
    margin-left: 0
}

.btn_bar > a#blue_btn {
    background-color: #4682ea
}

#dialogMask .dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    width: 400px;
    height: 194px;
    background-color: #fff;
    z-index: 999
}

#dialogMask .dialog em {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/manage_icon_cdc715a.png) 2px -94px no-repeat;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer
}

#dialogMask .content_finish {
    padding-top: 50px;
    text-align: center;
    line-height: 32px
}

#dialogMask .content_finish span {
    display: inline-block;
    width: 40px;
    height: 32px;
    background: url(http://static.qyy.baidu.com/static/legobuilder/builder/images/manage_icon_cdc715a.png) 0 -39px no-repeat
}

#dialogMask .content_finish span.publish {
    vertical-align: -8px
}

#dialogMask .content_finish span.fail {
    vertical-align: -10px;
    background-position: 0 -138px
}

#dialogMask .content_finish p.buttons {
    margin-top: 36px
}

#dialogMask .content_warn {
    margin: 0 auto;
    padding-top: 28px;
    width: 290px;
    height: 144px
}

#dialogMask .content_warn h3 {
    font: 20px/1 '宋体';
    color: #333;
    text-align: center
}

#dialogMask .content_warn p.text {
    margin: 16px auto 0;
    width: 260px;
    color: #666
}

#dialogMask .content_warn p.buttons {
    margin-top: 18px;
    text-align: center
}

#dialogMask .content_warn a {
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    border-radius: 2px;
    font-weight: 700;
    font: 14px/2.3 '宋体';
    background-color: #4682ea;
    color: #fff
}

#dialogMask p.buttons .link_btn:last-child {
    margin-left: 20px;
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    font-family: '宋体'
}

#dialogMask p.buttons .btn_ok,
#dialogMask p.buttons .btn_ok:last-child {
    background-color: #4682ea;
    color: #fff
}

#header_panel .btn_panel > a,
#header_panel span.line {
    float: right;
    margin-right: 6px;
    margin-left: 0
}

#header_panel .btn_panel > a.return_btn {
    margin-right: 18px
}

#header_panel span.line {
    font-size: 22px;
    color: #dfdfdf
}

.pop_iframe.add-single {
    width: 840px;
    height: 600px;
    left: 50%;
    margin-left: -420px;
    -webkit-transform-origin: left
}

.pop_iframe.add-multi {
    width: 840px;
    height: 450px;
    left: 50%;
    margin-left: -420px;
    -webkit-transform-origin: right
}

#post_add .pop_iframe.add-single {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
}

#post_add .pop_iframe.add-multi {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: 0
}

#post_add.fl .pop_iframe.add-single {
    -webkit-transform: translate3d(-100%, 0, 0);
    opacity: 0
}

#post_add.fl .pop_iframe.add-multi {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
}

.cpt_panel h3 > div > em {
    background-position: -240px 0px
}

.cpt_panel .cpt_item > strong {
    background-position: -227px -15px
}

.cpt_panel .show_tips {
    background-position: -221px -37px
}

.guid_layer {
    background-position: 0px -70px
}

.lay_body .lay_icon {
    background-position: -249px -229px
}

#save_tips > div {
    background-position: -232px -302px
}

.set_app_style {
    background-position: -147px -330px
}

#match_style li {
    background-position: -144px -367px
}

.cpt_panel h3 > div > em,
.cpt_panel .cpt_item > strong,
.cpt_panel .show_tips,
.guid_layer,
.lay_body .lay_icon,
#save_tips > div,
.set_app_style,
#match_style li {
    background-image: url(http://static.qyy.baidu.com/static/legobuilder/builder/pkg/lego_panel_z_0ab3d75.png)
}