<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- COMMON -->
    <bean id="sqlParser" class="bingo.dao.sql.SqlParser">
        <!--
            定义动态sql中条件表达式的解析器，例如：{?(#loginType#=1) login_name = #loginName#}
            -->
        <property name="testExpressionResolver">
            <bean class="bingo.dao.sql.MvelTestExpressionResolver"></bean>
        </property>

        <!--设置客制化的参数解析器-->
        <property name="sqlParameters">
            <list>
                <bean class="bingo.integration.environment.EnvironmentParameters"></bean>
            </list>
        </property>

        <!--定义sql文件所处的位置和支持的数据库类型，默认配置为oracle数据库-->
        <property name="sqlSource">
            <bean class="bingo.dao.sql.source.XmlSqlSource">
                <property name="sqlLocation" value="classpath*:/sqls/**/*.xml"></property>
            </bean>
        </property>
    </bean>

    <!--数据安全权限解析器-->
    <bean id="securityResolver" class="bingo.security.dao.DataSecurityResolver">
    </bean>

    <!-- 自定义配置 -->

    <!-- Center数据源配置 START -->
    <bean id="centerDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${center.jdbc.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="centerDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="centerDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="centerDataSource.txAdvice" transaction-manager="centerDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="centerDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="centerDataSource"/>
    </bean>
    <!-- annotation @Transactional-->
    <tx:annotation-driven transaction-manager="centerDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="centerDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="centerDataSource.txAdvice" pointcut-ref="centerDataSource.pointcut"/>
    </aop:config>
    <!-- Center数据源配置 END -->

    <!-- Center[只读]数据源配置 START -->
    <bean id="centerReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${center.jdbc.readonly.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="centerRoDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="centerReadOnlyDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="centerReadOnlyDataSource.txAdvice" transaction-manager="centerReadOnlyDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <bean id="centerReadOnlyDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="centerReadOnlyDataSource"/>
    </bean>
    <!-- annotation @Transactional-->
    <tx:annotation-driven transaction-manager="centerReadOnlyDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="centerReadOnlyDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="centerReadOnlyDataSource.txAdvice" pointcut-ref="centerReadOnlyDataSource.pointcut"/>
    </aop:config>
    <!-- Center[只读]数据源配置 END -->


    <!-- Business数据源配置 START -->
    <bean id="bizDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${business.jdbc.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="bizDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="bizDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="bizDataSource.txAdvice" transaction-manager="bizDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="bizDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="bizDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="bizDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="bizDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="bizDataSource.txAdvice" pointcut-ref="bizDataSource.pointcut"/>
    </aop:config>
    <!-- Business数据源配置 END -->


    <!-- Business[只读]数据源配置 START -->
    <bean id="bizReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${business.jdbc.readonly.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="bizRoDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="bizReadOnlyDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="bizReadOnlyDataSource.txAdvice" transaction-manager="bizReadOnlyDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <bean id="bizReadOnlyDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="bizReadOnlyDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="bizReadOnlyDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="bizReadOnlyDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="bizReadOnlyDataSource.txAdvice" pointcut-ref="bizReadOnlyDataSource.pointcut"/>
    </aop:config>
    <!-- Business[只读]数据源配置 END -->

    <!-- Sys数据源配置 START -->
    <bean id="sysDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${sys.jdbc.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="sysDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="sysDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="sysDataSource.txAdvice" transaction-manager="sysDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="sysDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="sysDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="sysDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="sysDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="sysDataSource.txAdvice" pointcut-ref="sysDataSource.pointcut"/>
    </aop:config>
    <!-- Sys数据源配置 END -->

    <!-- Sys[只读]数据源配置 START -->
    <bean id="sysReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${sys.jdbc.readonly.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="sysRoDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="sysReadOnlyDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="sysReadOnlyDataSource.txAdvice" transaction-manager="sysReadOnlyDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <bean id="sysReadOnlyDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="sysReadOnlyDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="sysReadOnlyDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="sysReadOnlyDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="sysReadOnlyDataSource.txAdvice" pointcut-ref="sysReadOnlyDataSource.pointcut"/>
    </aop:config>
    <!-- Sys[只读]数据源配置 END -->

    <!-- Log数据源配置 START -->
    <bean id="logDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${log.jdbc.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
    </bean>
    <bean id="logDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="logDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="logDataSource.txAdvice" transaction-manager="logDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="logDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="logDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="logDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="logDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="logDataSource.txAdvice" pointcut-ref="logDataSource.pointcut"/>
    </aop:config>
    <!-- Log数据源配置 END -->

    <!-- Log[只读]数据源配置 START -->
    <bean id="logReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${log.jdbc.readonly.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
    </bean>
    <bean id="logRoDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="logReadOnlyDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="logReadOnlyDataSource.txAdvice" transaction-manager="logReadOnlyDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <bean id="logReadOnlyDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="logReadOnlyDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="logReadOnlyDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="logReadOnlyDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="logReadOnlyDataSource.txAdvice" pointcut-ref="logReadOnlyDataSource.pointcut"/>
    </aop:config>
    <!-- Log[只读]数据源配置 END -->

    <!-- Report数据源配置 START -->
    <bean id="reportDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${report.jdbc.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="reportDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="reportDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="reportDataSource.txAdvice" transaction-manager="reportDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="reportDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="reportDataSource"/>
    </bean>
    <!-- annotation @Transactional-->
    <tx:annotation-driven transaction-manager="reportDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="reportDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="reportDataSource.txAdvice" pointcut-ref="reportDataSource.pointcut"/>
    </aop:config>
    <!-- Report数据源配置 END -->


    <!-- Report数据源[只读]配置 START -->
    <bean id="reportReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- JDBC驱动程序类名 -->
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <!-- 连接字符串 -->
        <property name="url" value="${report.jdbc.readonly.url}" />
        <!-- 数据源用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 数据源密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 运行判断连接超时任务的时间间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <!-- 连接超时时间-->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
    </bean>
    <bean id="reportRoDao" class="bingo.dao.Dao" lazy-init="true">
        <property name="dataSource"  ref="reportReadOnlyDataSource" />
        <property name="sqlParser" ref="sqlParser" />
    </bean>
    <!--事务配置-->
    <tx:advice id="reportRoDataSource.txAdvice" transaction-manager="reportDataSource.transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="assign*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="cancel*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="change*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="enable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="disable*" propagation="REQUIRED" rollback-for="Throwable"/>
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <bean id="reportRoDataSource.transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--<property name="nestedTransactionAllowed" value="true"></property>-->
        <property name="dataSource" ref="reportReadOnlyDataSource"/>
    </bean>
    <!-- annotation @Transactional-->
    <tx:annotation-driven transaction-manager="reportRoDataSource.transactionManager"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="reportRoDataSource.pointcut" expression="execution(* bingo..*Service.*(..))"/>
        <aop:advisor advice-ref="reportRoDataSource.txAdvice" pointcut-ref="reportRoDataSource.pointcut"/>
    </aop:config>
    <!-- Report数据源[只读]配置 END -->
</beans>