<!doctype html>
<html ng-app="app">
<head>
    <script src="../../angular/angular.min.js"></script>
    <script src="js/angular-stepper.js"></script>
    <script>
        angular.module('app', [
            'revolunet.stepper'
        ])
            .controller('DemoController', function ($scope) {
                $scope.rating = 42;
                $scope.minRating = 40;
                $scope.maxRating = 50;
            })
    </script>
</head>
<body ng-app="demo" ng-controller="DemoController">
<form name="form">
    Model value : <input type="text" size="3" ng-model="rating"><br>
    Min value: <input type="text" size="3" ng-model="minRating"><br>
    Max value: <input type="text" size="3" ng-model="maxRating"><br>
    Form has been modified : {{ form.$dirty }}<br>
    Form is valid : {{ form.$valid }}
    <hr>
    <div min="minRating" max="maxRating" ng-model="rating" rn-stepper></div>
</form>
</body>
</html>