<div class="task-form" ms-controller="taskinfo">
	<fieldset ms-visible="!isLoading">
		<table class="table table-info task-table">
			<tr>
				<th>任务编号</th>
				<td>
					<span ms-text="form.taskNo"></span>
				</td>
				<th>任务状态</th>
				<td colspan="3">
					<span ms-text="form.statusText|appTaskStatus"></span>
				</td>
			</tr>
			<tr>
				<th>任务来源</th>
				<td>
					<span ms-text="form.sourceText|taskSource"></span>

				</td>
				<th>任务优先级</th>
				<td>
					<span ms-text="form.levelTypeText|taskLevelType"></span>
				</td>
				<th>上门时间</th>
				<td>
					<span ms-text="form.appointmentStartTime"></span>
				</td>
			</tr>
			<tr>
				<th>任务类型</th>
				<td colspan="5">
					<span ms-text="form.businessTypeText"></span>
				</td>
			</tr>
			<tr>
				<th>描述</th>
				<td colspan="5">
					<span class="pre" ms-text="form.content"></span>
				</td>
			</tr>
			<tr>
				<th>项目名称</th>
				<td colspan="5">
					<span ms-text="form.projectName"></span>
				</td>
			</tr>
			<tr>
				<th>联系地址</th>
				<td colspan="5">
					<span ms-text="form.address"></span>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<hr>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<hr>
				</td>
			</tr>
			<tr>
				<th>来电号码</th>
				<td><span class="span2 mobilenumber" ms-text="form.reportUserMobile"></span>
				</td>
				<th>客户名称</th>
				<td><span ms-text="form.contactsName"></span></td>
				<th>联系电话</th>
				<td><span ms-text="form.contactsMobile"></span></td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>图片列表</legend>
		<ul class="task-imglist">
			<li ms-repeat="form.imglist">
				<img ms-attr-src="el">
			</li>
		</ul>
		<div class="align-center" ms-if="form.imglist.size()==0">
			暂无图片
		</div>
	</fieldset>
	<fieldset style="margin-bottom:120px;">
		<legend>处理流程</legend>
		<table class="table table-list">
			<thead>
				<tr>
					<th style="width:140px;">时间</th>
					<th style="width:140px;">创建人</th>
					<th style="width:180px;">状态</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr ms-repeat="localTimeLine.list">
					<td><span ms-text="el.logTime"></span></td>
					<td><span ms-text="el.name == 'null' ? '' : el.name"></span></td>
					<td><span ms-text="el.status|appTaskStatus"></span></td>
					<td><span ms-text="el.content == 'null' ? '' : el.content"></span></td>
				</tr>
				<tr ms-visible="localTimeLine.loading">
					<td colspan="4" class="align-center">正在加载...</td>
				</tr>
				<tr ms-visible="localTimeLine.list.size()==0">
					<td colspan="4" class="align-center">暂无数据</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<div class="taskquery-btns">
		<div class="btn-group">
			<a class="btn" ms-click="refresh">刷新</a>
			<a class="btn btn-success" ms-if="supplement.visible" ms-click="supplement.dialog">追加</a>
		</div>
	</div>
	<div ms-visible="isLoading" class="cover"><div class="loading">正在加载任务信息...</div></div>

    <div id="taskinfo_remarkdialog" class="modal hide" style="top: 30%;">
		<div class="modal-header">
            <h5>追加任务</h5>
		</div>
		<div class="modal-body form">
			<form id="taskinfo_remarkform">
                <div class="control-group">
                    <label class="control-label">备注：</label>

                    <div class="controls">
                        <textarea ms-duplex-content="supplement.remark"
                                  data-validator="required{请详细记录客户的反馈}|length[0~1000]{您输入的字数过多，请将内容精简到1000字以内}"
                                  size="1000" rows="6"></textarea>
                        <em class="icf-import errortip"></em>
                    </div>
                </div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ms-click="supplement.submit">提交</button>
            <button class="btn" ms-click="supplement.close">取消</button>
		</div>
	</div>
</div>