<div class="height" ms-controller="contentsort">
	<div class="container">
		<!-- 呼入、呼出 -->
		<ul class="nav nav-tabs task-tabs">
			<li ms-class="active:index=='callin'" ms-if="group.class=='callin' || group.class=='all'"><a ms-click="changeTab('callin')"><span>呼入</span></a></li>
			<li ms-class="active:index=='callout'" ms-if="group.class=='callout' || group.class=='all'"><a ms-click="changeTab('callout')"><span>呼出</span></a></li>
		</ul>
		<!-- 当前用户所在组别 -->
		<div class="class-group">
			<span class="nam">所在组别：</span>
			<span class="value" ms-text="group.calssName"></span>
		</div>
		<!-- 呼入组 -->
		<div class="callin" ms-if="index=='callin'" ms-controller="callin">
			<div class="search-panel">
				<div class="search-form">
					<form>
						<table class="table search-table">
							<tbody>
								<tr>
									<th>
										<label>查询时间:</label>
									</th>
									<td>
										<select class="select2" ms-duplex="form.timeType">
											<option value="1">日榜</option>
											<option value="2">月榜(考核月)</option>
										</select>
									</td>
									<th>
										<label>排行类型:</label>
									</th>
									<td>
										<select class="select2" ms-duplex="form.sortType">
											<option value="1">按班组</option>
											<option value="2">按全体呼入组</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="search-operation right">
					<a class="btn btn-primary btn-small" ms-click="searchclick">
						<span class="icon-search icon-white"></span> 查 询
					</a>
					<a class="btn btn-small" ms-click="resetclick">
						<span class="icon-refresh"></span> 重 置
					</a>
				</div>
				<div class="search-list min-hg">
					<table class="table table-hover table-bordered list-lg-12 contentsort-list">
						<thead>
							<tr>
								<th>排行榜</th>
								<th>姓名</th>
								<th>接话量（个）</th>
								<th>话后满意度评价（％）</th>
								<th>小时平均接话量（个/小时）</th>
								<th>平均通话时长（秒）</th>
								<th>新增任务数（个）</th>
								<th>在线解决率（%）</th>
								<th>有效工时利用率（%）</th>
								<th>外呼量（个</th>
								<th>平均外呼时长（秒）</th>
								<th>呼入呼出比</th>
								<th>转出电话量（个）</th>
								<th>咨询电话</th>
								<th>置忙次数（个）</th>
							</tr>
						</thead>
						<tbody>
							<tr ms-visible="callinlist.loading">
								<td class="align-center" colspan="15">正在加载中...</td>
							</tr>
							<tr ms-visible="!callinlist.loading&&callinlist.data.size()==0">
								<td class="align-center" colspan="15">暂无数据</td>
							</tr>
							<tr ms-repeat="callinlist.data">
								<td><span ms-text="el.sortNum"></span></td>
								<td><span ms-text="el.name"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pagination" id="contentsort_callin_pager"></div>
			</div>
		</div>
		<!-- 呼出组 -->
		<div class="callout" ms-if="index=='callout'" ms-controller="callout">
			<div class="search-panel">
				<div class="search-form">
					<form>
						<table class="table search-table">
							<tbody>
								<tr>
									<th>
										<label>查询时间:</label>
									</th>
									<td>
										<select class="select2" ms-duplex="form.timeType">
											<option value="1">日榜</option>
											<option value="2">月榜(考核月)</option>
										</select>
									</td>
									<th>
										<label>排行类型:</label>
									</th>
									<td>
										<select class="select2" ms-duplex="form.sortType">
											<option value="1">按班组</option>
											<option value="2">按全体呼出组</option>
										</select>
									</td>
									<th>
										<label>技能组:</label>
									</th>
									<td>
										<select class="select2" ms-duplex="form.skill">
											<option value="1">上海区域技能组</option>
											<option value="2">华南区域技能组</option>
											<option value="3">北京区域技能组</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="search-operation right">
					<a class="btn btn-primary btn-small" ms-click="searchclick">
						<span class="icon-search icon-white"></span> 查 询
					</a>
					<a class="btn btn-small" ms-click="resetclick">
						<span class="icon-refresh"></span> 重 置
					</a>
				</div>
				<div class="search-list min-hg">
					<table class="table table-hover table-bordered contentsort-list">
						<thead>
							<tr>
								<th>排行榜</th>
								<th>姓名</th>
								<th>外呼量（个）</th>
								<th>接通量（个）</th>
								<th>成功量（个）</th>
								<th>未接通量（个）</th>
							</tr>
						</thead>
						<tbody>
							<tr ms-visible="calloutlist.loading">
								<td class="align-center" colspan="6">正在加载中...</td>
							</tr>
							<tr ms-visible="!calloutlist.loading&&calloutlist.data.size()==0">
								<td class="align-center" colspan="6">暂无数据</td>
							</tr>
							<tr ms-repeat="calloutlist.data">
								<td><span ms-text="el.sortNum"></span></td>
								<td><span ms-text="el.name"></span></td>
								<td><span ms-text="el.callOutCount"></span></td>
								<td><span ms-text="el.callCount"></span></td>
								<td><span ms-text="el.successCount"></span></td>
								<td><span ms-text="el.unSuccessCount"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pagination" id="contentsort_callout_pager"></div>
			</div>
		</div>
	</div>
</div>
