<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config/${spring.profiles.active}/mongo.properties"
                                  ignore-unresolvable="true"/>

    <bean id="mongoDBConfigService" class="com.vanke.vkrms.service.MongoDBConfigService">
        <property name="host" value="${host}"/>
        <property name="port" value="${port}"/>
        <property name="database" value="${database}"/>
        <property name="collection" value="${collection}"/>
    </bean>

</beans>
