@charset "UTF-8";

.task-draft-list {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  .task-tag {
    height: 44px;
    text-align: center;
    background-color: $coGreen;
    color: #FFF;
    display: block;
    margin-top: 6px;
    line-height: 16px;
    position: relative;

    &.in {
      background-color: #22904A;
    }
    &.on {
      background-color: #8318F9;
    }
    &.task-tag-add {
      line-height: 32px;
    }
    i {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    span {
      width: 6em;
      display: block;
      padding: 6px 10px 6px 6px;
    }
  }
}
.task-tabs {
}

.task-tab {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  .w-toolbar-wrapper{
    padding-right: 245px;
  }

  .w-toolbar{
    width: 200px;
    height: auto;
    position: fixed;
    right: 15px;
    top: 160px;
    padding: 3px 5px;
    background-color: whitesmoke;
    border: 1px dashed lightgray;

    .title{
      height: 30px;
      line-height: 30px;
      font-size: 14px !important;
      padding-left: 2em;
    }

    ul{
      list-style: none;
      margin: 0 0 10px 10px;

      li{
        height: 25px;
        line-height: 25px;

        .fixed-width{
          width: 5em;
          display: inline-block;
        }

        .online{
          color: green;
        }

        .offline{
          color: lightgray;
        }


      }
    }
  }

  .textarea-describe{
    width: 100%;
    min-height: 60px;
    margin: 0px;
    background-color: white;
    border: 1px solid RGBA(221, 221, 221, 1);
    resize: none;
  }

}


.task-form {
  padding: 10px 20px 20px 20px;

  input[readonly] {
    background-color: #FFF;
    cursor: auto;
  }
  input.taskio {
    width: 130px;
  }
  select.taskio {
    width: 135px;
  }
}

/* 任务详情 - 图片列表 */
.task-imglist {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin: 0 10px 10px 0;
    width: 160px;
    height: 120px;
    border: 2px solid $coCyan;

    img {
      width: 160px;
      height: 120px;
      display: block;
    }
  }
}
.task-draft-content {
  position: absolute;
  top: 0;
  margin-bottom: 40px;
  margin-bottom: 70px \9;
  bottom: 40px;
  left: 0;
  right: 0;
  padding-right: 90px;
  overflow: auto;
  padding-right: 100px;

  &.disabled {
    .cover {
      display: block;
    }
  }
  .noticelist {
    .n-content {
      display: block;
      width: 11em;
    }
  }
}
.taskquery-content {
  margin-bottom: 100px;

}
.task-draft-btns {
  background-color: #FFF;
  border-top: 1px solid $coGray;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.taskquery-btns {
  background-color: #FFF;
  border-top: 1px solid $coGray;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  left: 0;
  // background-color: $coGray;
  // line-height: 50px;
  padding-top: 10px;
  text-align: center;
}
.user-info {
  th {
    width: 5em;
  }
}
.task-table {
  hr {
    margin: 0;
  }
  td, th {
    min-height: 30px;
    line-height: 30px;
  }
  .alignBottom {
    vertical-align: bottom;
  }
  .alignTop {
    vertical-align: top;
  }
  .autocomplete {
    width: 300px;
  }
}
.mobilenumber {
  display: inline-block;
  margin-left: 0;
}
.businesstype-select {
  width: 540px;
  position: relative;
  $childWidth: 150px;

  .businesstype-child {
    position: absolute;
    top: 0;
    width: $childWidth;
    height: 28px*6;
    overflow: auto;
    background-color: #FFF;
    border: 1px solid $coBorderBlue;
  }
  .child0 {
    left: 0;
  }
  .child1 {
    left: $childWidth;
  }
  .child2 {
    left: $childWidth*2;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    padding: 0px 10px;
    line-height: 28px;

    &.on {
      background-color: $coLightBlue;
    }
  }
}
.relation-btns {
  i {
    color: $coCyan;
  }
  margin-bottom: 10px;
}
input.task-msginput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
  &:focus{
    box-shadow: none;
  }
}
