<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- Spring 上下文加载监听器 -->
	<display-name>bingo-security-console</display-name>
	<!-- Spring 配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/*.xml,classpath*:schedule/*.xml</param-value>
	</context-param>
	
	<!-- Spring 配置文件的加载器 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- Session 超时时间,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>