<div ms-controller="quescall">
	<div class="quescall">
		<div class="panel">
			<div class="exam-intro">
				<div class="left">
					<i class="icf-survey"></i>
				</div>
				<div class="right">
					问题<em ms-text="question.size"></em>条
				</div>
				<div class="center">
					<h4 ms-text="title"></h4>
					<div class="tip" ms-text="description"></div>
				</div>
			</div>
			<div class="exam-box">
				<div class="exam-userinfo clean">
					<div class="right align-right">
						<!-- <button class="btn" ms-if="custState==0||custState==3" ms-class="btn-primary:canSaveExam" ms-click="saveError">提交异常</button> -->
						<button class="btn" ms-class="btn-primary:canSaveExam" ms-class-1="disabled:!canSaveExam" ms-click="saveExam">提交答卷</button>
						&nbsp;&nbsp;
						<button class="btn" ms-class="btn-success:canNewTask" ms-class-1="disabled:!canNewTask" ms-click="newTask">新建任务</button>
						<button class="btn" ms-class="btn-success:canNewCustomer" ms-class-1="disabled:!canNewCustomer" ms-click="newCustomer">
							<span ms-if="isNextNumber">下一号码</span>
							<span ms-if="!isNextNumber">下一客户</span>
						</button>
					</div>
					<div class="right">
						<label><em>项目名称：</em><span ms-text="customer.projectName"></span></label>
						<div><em>剩余可预约量：</em>
							<ul>
								<li><span ms-text="customer.date1"></span>
									<span ms-text="customer.date1subscribe" class="co-blue"></span></li>
								<li><span ms-text="customer.date2"></span>
									<span ms-text="customer.date2subscribe" class="co-blue"></span></li>
								<li><span ms-text="customer.date3"></span>
									<span ms-text="customer.date3subscribe" class="co-blue"></span></li>
								<li><span ms-text="customer.date4"></span>
									<span ms-text="customer.date4subscribe" class="co-blue"></span></li>
								<li><span ms-text="customer.date5"></span>
									<span ms-text="customer.date5subscribe" class="co-blue"></span></li>
							</ul>
						</div>
					</div>
					<div class="center">
						<label><em>姓名：</em><span ms-text="customer.customerName"></span></label>
						<label><em>手机号码：</em>
							<a><span ms-text="customer.mainMobile"></span></a>
							<a class="icf-call" ms-if="currentCallOutNumber==customer.mainMobile" ms-click="offlineCallOut" ms-data-number="customer.mainMobile"></a>
						</label>
						<label ms-if="customer.standbyMobile"><em>备用手机：</em>
							<a><span ms-text="customer.standbyMobile"></a></span>
							<a class="icf-call" ms-if="currentCallOutNumber==customer.standbyMobile" ms-click="offlineCallOut" ms-data-number="customer.standbyMobile"></a>
						</label>
						<label ms-if="customer.homeTel"><em>家庭电话：</em>
							<a><span ms-text="customer.homeTel"></span></a>
							<a class="icf-call" ms-if="currentCallOutNumber==customer.homeTel" ms-click="offlineCallOut" ms-data-number="customer.homeTel"></a>
						</label>
						<label ms-if="customer.officeTel"><em>办公电话：</em>
							<a><span ms-text="customer.officeTel"></span></a>
							<a class="icf-call" ms-if="currentCallOutNumber==customer.officeTel" ms-click="offlineCallOut" ms-data-number="customer.officeTel"></a>
						</label>
						<label><em>物业地址：</em><span ms-text="customer.houseName"></span></label>
						<label><em>性别：</em><span ms-text="customer.sexText"></span></label>
					</div>
				</div>
				<div class="exam-question">
					<div class="ques-index">第 <span ms-text="question.sequence"></span> 题</div>
					<div class="ques-subject">题目：<span ms-text="question.title"></span></div>
					<div class="ques-content" id="quescall_content">
						<div ms-if="questionType=='radio'" ms-include="questionTypeRadio"></div>
						<div ms-if="questionType=='checkbox'" ms-include="questionTypeCheckbox"></div>
						<div ms-if="questionType=='input'" ms-include="questionTypeInput"></div>
						<div ms-if="questionType=='text'" ms-include="questionTypeText"></div>
					</div>
				</div>

				<div class="exam-control">
					<button class="btn" ms-class="btn-success:hasPrev" ms-class-1="disabled:!hasPrev" ms-click="prev">上一题</button>
					<button class="btn" ms-class="btn-success:hasNext" ms-class-1="disabled:!hasNext" ms-click="next">下一题</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal hide fade in quescall-errorbox" data-backdrop="static" id="quescall_errorbox">
		<div class="modal-header">
			<a id="m_close" class="close" ms-click="hide" data-dismiss="modal">×</a>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
			<h3>错误异常</h3>
		</div>
		<div class="modal-body" id="quescall_labels">
			<fieldset ms-visible="custState==0||custState==3">
				<legend>未接通</legend>
				<div>
					<label class="inline" ms-repeat="customerAbnormal">
						<input type="radio" ms-duplex-checkbox="errorCode" name="quescall_inactivecode" ms-attr-value="el.code" />
						<span ms-text="el.value"></span></label>
				</div>
			</fieldset>
			<fieldset ms-visible="custState==1||custState==2">
				<legend>已接通</legend>
				<div>
					<label class="inline" ms-repeat="answerAbnormal">
						<input type="radio" ms-duplex-checkbox="errorCode" name="quescall_activecode" ms-attr-value="el.code" />
						<span ms-text="el.value"></span></label>
				</div>
			</fieldset>
			<fieldset ms-visible="(custState==1||custState==2) && errorCode==2">
				<legend>预约时间</legend>
				<div class="controls">
					<input type="text" class="Wdate input2" ms-duplex="errorSubscribeTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" readonly="true" />
				</div>
			</fieldset>
			<fieldset>
				<legend>备注</legend>
				<div>
					<textarea rows="4" style="width:500px;" ms-duplex="errorRemark" data-duplex-event="change"></textarea>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<a class="btn btn-primary" ms-click="errorBoxOk">确定</a>
			<a class="btn" data-dismiss="modal" ms-click="hide">关闭</a>
		</div>
	</div>
</div>
<script type="avalon" id="questemp_radio">
	<label ms-repeat="options" class="radio">
		<input type="radio" ms-attr-checked="el.checked" name="radio" ms-data-id="el.id">
		<span ms-text="el.content"></span></label>
</script>
<script type="avalon" id="questemp_checkbox">
	<label ms-repeat="options" class="checkbox">
		<input type="checkbox" ms-attr-checked="el.checked" name="checkbox" ms-data-id="el.id" ms-data-content="el.basicContent">
		<span ms-text="el.content"></span></label>
</script>
<script type="avalon" id="questemp_input">
	<label ms-repeat="options" class="checkbox qt-bloom">
		<input type="checkbox" ms-attr-checked="el.checked" name="checkbox" class="qt-bloom-checkbox" ms-data-id="el.id" ms-data-content="el.basicContent">
		<span ms-text="el.content"></span>
		<input type="text" class="qt-bloom-input" ms-value="el.remark">
	</label>
</script>
<script type="avalon" id="questemp_text">
	<textarea ms-repeat="options" class="span10" rows="5" ms-data-id="el.id" ms-value="el.remark"></textarea>
</script>
