
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icf-logout:before { content: "\e611"; }
.icf-wait:before { content: "\e622"; }
.icf-card:before { content: "\e616"; }
.icf-home:before { content: "\e612"; }
.icf-person:before { content: "\e613"; }
.icf-task:before { content: "\e60a"; }
.icf-addressbook:before { content: "\e60b"; }
.icf-search:before { content: "\e614"; }
.icf-yizhan:before { content: "\e617"; }
.icf-account:before { content: "\e618"; }
.icf-hangup:before { content: "\e620"; }
.icf-rest:before { content: "\e600"; }
.icf-down:before { content: "\e62a"; }
.icf-right:before { content: "\e629"; }
.icf-busy:before { content: "\e601"; }
.icf-free:before { content: "\e602"; }
.icf-setting:before { content: "\e61f"; }
.icf-assets:before { content: "\e619"; }
.icf-edit:before { content: "\e62d"; }
.icf-service:before { content: "\e61a"; }
.icf-messages:before { content: "\e61b"; }
.icf-hangon:before { content: "\e603"; }
.icf-building:before { content: "\e609"; }
.icf-add:before { content: "\e60d"; }
.icf-wuyefei:before { content: "\e61c"; }
.icf-bill:before { content: "\e61d"; }
.icf-check:before { content: "\e627"; }
.icf-ring:before { content: "\e60c"; }
.icf-package:before { content: "\e61e"; }
.icf-meal:before { content: "\e624"; }
.icf-msg:before { content: "\e62f"; }
.icf-callout:before { content: "\e604"; }
.icf-callin:before { content: "\e605"; }
.icf-call:before { content: "\e606"; }
.icf-wc:before { content: "\e625"; }
.icf-delete:before { content: "\e628"; }
.icf-sound:before { content: "\e60e"; }
.icf-transfer:before { content: "\e607"; }
.icf-bookopened:before { content: "\e62e"; }
.icf-list:before { content: "\e615"; }
.icf-listmenu:before { content: "\e60f"; }
.icf-arrang:before { content: "\e621"; }
.icf-silent:before { content: "\e608"; }
.icf-xiuxi:before { content: "\e626"; }
.icf-consult:before { content: "\e623"; }
.icf-question:before { content: "\e610"; }
.icf-import:before { content: "\e62b"; }
.icf-left:before { content: "\e62c"; }
